.card{
    // display: inline-block;
    // width: auto;
    // display: flex;
    &__content{
        padding: 20px;
            .gutter{
                max-width: 320px;
                padding: 40px 30px 20px;
                border-radius: 10px;
                background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );
                box-shadow: 3px 3px 10px #73021e, 
                -3px -3px 10px #9b0228;
            }
    }
    &-number{
        margin-bottom: 20px;
        font-size: 18px;
        color: rgba($color: #fff, $alpha: .9);
        font-weight: bolder;
        letter-spacing: 1.25px;
        text-shadow: 1px 1px 1px #333,
                    -1px -1px 1px gray;
    }
    &-date{
      
        margin: 10px 0;

        &__item{
            display: flex;
            align-items: center;
            margin:10px 0;
            p{
                font-size: 8px;
                text-transform: uppercase;
                font-weight: 200;
                max-width: 4px;
                margin-right: 25px;
            }
            .date{
                
                color: rgba($color: #fff, $alpha: .9);
                font-weight: bolder;
                letter-spacing: 1.25px;
                text-shadow: 1px 1px 1px #333,
                            -1px -1px 1px gray;
            }
        }
        
    }
    &-name{
        color: rgba($color: #fff, $alpha: .9);
        font-weight: bolder;
        letter-spacing: 1.25px;
        font-size: 14px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333,
                    -1px -1px 1px gray;
    }
    &-from{

    }
    &-good-thru{

    }
    .type{
        p{
            padding: 4px 2px;
            background-color: white;
            font-size: 16px;
            font-weight: bolder;
            margin-left: 10px;
        }
        .napas, .visa{
            color: blue;
        }
    }
    .arg{

    }
}
