footer{
    // margin-top: 70px;
    background-color: #222831;
    color: white;
    padding: 4rem 0;
    a{
        color: white;
    }
    .get-update{
        background-color: $main-color;
        .container{
            padding: 20px 200px;
            h1{
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 20px;
            }
            .get-update_email{
                form{
                    padding: 0;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                }
                input{
                    border: none;
                    outline: none;
                    
                    padding: 10px;
                    background-color: transparent;
                }
                input[type="email"]{
                    border-right: none;
                    min-width: 300px;
                    &::placeholder{
                        color: #ddd;
                    }
                    &:focus{
                        color: white;
                    }
                }
    
                input[type="submit"]{
                
                    background-color: white;
                    color: $main-color;
                    cursor: pointer;
                }
            }
        }
    }
    .footer{

        background-color: #000;
        .container{
            padding: 40px 200px;
            .row{
                .footer-item{
                    padding: 30px;
                    .footer-title{
                        text-transform: uppercase;
                        font-weight: bolder;
                        color: white;
                        font-size: 13px;
                        letter-spacing: 1.1px;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 45%;
                            height: 3px;
                            background-color: rgba($color: gray, $alpha: 0.7);
                            border-radius: 999px;
                            bottom: -20px;
                            left: 0;
                        }
    
                        &::after{
                            content: '';
                            position: absolute;
                            width: 25%;
                            height: 3px;
                            left: 0;
                            background-color: $main-color;
                            border-radius: 999px;
                            bottom: -20px;
                        }
    
                    }
                    >ul{
                        margin-top: 50px;
                        li{
                            padding: 5px 10px;
                            a{
                                font-size: 13px;
                                letter-spacing: 1px;
                                color: rgba(#FFF,0.5);
                            }
                            position: relative;
                            &:before{
                                position: absolute;
                                content: ' ';
                                width: 5px;
                                height: 5px;
                                border-radius: 100%;
                                background-color: $main-color;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
    .row{
        .col-xs-6{

            ul{
                li{
                    a{
                        padding-left: 10px;
                        font-size: 16px;
                        color: white;
                        &:hover {
                            color: $main-color;
                        }
                    }
                   
                }
            }
        }
        @include rs-xs{
            padding: 0 20px;
        }
        @include rs-md{
            padding: 0;
        }
    }
    .top{
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}