.search{
    margin-top: 40px;
    padding: 40px;
        .search-by{
            border-bottom: 1px solid #ddd;
            margin-bottom: 40px;
            .col-xs-6{
                h3{
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                    padding: 5px 0;
                }
                cursor: pointer;
            }
            .active{
                background-color: $main-color;
                color: white;
            }
          
        }
        .search-box{
            height: 40px;
            position: relative;
            display: none;
            background: transparent;
            input{
                border-radius: 999px;
                height: 100%;
                position: absolute;
                left: 0;
                width: 100%;
                border-radius: 999px;
                background-color: white;
                outline: none;
                border: 1px solid #ddd;
                padding: 15px 40px 15px 20px;
            }
            button{
                position: absolute;
                right: 0;
                width: 40px;
                height: 40px;
                border-radius: 999px;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }
        .search-box.active{
            display: block;
        }
    
}