@import './variables';


.staff{
    max-height: 100vh;
    // overflow: hidden;
    header{
        padding: 20px;
        height: 60px;

        box-shadow: 2px 2px 10px rgba($color: #000000, $alpha:.2);
        .navigation{
            .logo{
                a{
                    color: #333;

                }
                i{
                }
            }
            .right{
                ul{
                    li{
                        padding: 0 20px;
                        a{
                            color: #333;
                        }
                    }
                    .noti{
                        a{
                            position: relative;
                            .number-of-noti{
                                position: absolute;
                                top: -4px;
                                right: -8px;
                                display: block;
                                background-color: red;
                                width: 16px;
                                height: 12px;
                                border-radius: 3px;
                                color: white;
                                text-align: center;
                                font-size: 10px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    main{
        .staff-option{
            i{
                width: 25px;
                font-size: 17px;
            }
            .personal-info{
                padding: 0 20px;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: white;
                    border-radius: 1px solid #ddd;
                    display: block;
                }
                p{
                    font-size: 15px;
                    margin: 10px 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    color:white;
                }
                
            }
            .left{
                width: 250px;
                padding: 30px 0;
                background-color: $main-color;
                min-height: 100vh;
                .staff-dashboard{
                    margin-top: 40px;
                    padding: 12px 25px;
                    a{
                        color: white;
                        i{
                            color: white;
                        }
                    }
                    &:hover{
                        background-color: rgba($color: red, $alpha: .5);
                    }
                }
                .cate{
                    margin-top: 40px;
                   
                    h4.title{
                        color: #4f4f4f;
                        padding: 0 25px;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    ul{
                        li{
                            padding: 12px 25px;
                            a{
                                color:white;
                                cursor: pointer;
                                font-size: 14px;
                            }

                            &:hover{
                                background-color: rgba($color: red, $alpha: .5);
                            }
                        }
                    }
                }
            }
            .right{
                width: calc(100% - 250px);
                .add-money{
                    width: 85%;
                    margin: 0 auto;
                  
                }
                .title{
                    font-size: 36px;
                    color: #333;
                    text-align: center;
                    margin: 40px 0;
                }
                .search-square{
                    margin: 100px 0px;
                    input{
                        height: 45px;
                        border-radius: 999999px;
                        outline: none;
                        border: 1px solid $main-color;
                        width: 400px;
                        padding: 0 15px;
                        font-size: 15px;
                        
                    }
                    button{
                        border-radius: 999999px;
                        height: 45px;
                        width: 100px;
                        color: white;
                        margin-left: 20px;
                    }
                }
                .result-square{
                    background-color: #f1f5f6;
                    border-radius: 4px;
                    padding: 20px;
                    height:400px;
                    &-left{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &_item{
                            margin: 10px 0;
                            text-align: center;
                            
                            label{
                                display: inline-block;
                                width: 120px;
                                font-size: 14px;
                                color: #333;
                            }
                            input{
                                height: 45px;
                                outline: none;
                                border: 1px solid #ddd;
                                border-radius: 4px;
                                width:calc(100% - 120px);
                                padding: 0 15px;
                                font-size: 15px;
                            }
                            button{
                                height: 45px;
                                width:calc(100% - 120px);
                                margin-left: 120px;
                                color: white;
                            }
                        }
                    }
                    &-right{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
}