@import "./reset";
@import "./media";
@import "./reusable";
@import "./variables";
@import "./grid";
@import "./custom";
@import "./header";
@import "./footer";
@import "./modal";
@import "./todo";
@import "./crawler";
@import "./wrapper";
@import "./dashboard";
@import "./card";
@import "./transfer";
@import "./transfer-success";
@import "./transactionDetails";
@import "./staff";
@import "./alert";
@import "./transaction";
@import "./request";
@import "./my-acocunt";
@import "./staff-index";
@import "./account";
@import "./history";
@import "./contact";
@import "./search";
@import "./user";
@import "./user-item";
@import "./user_item_edit";
@import "./limit";
@import "./accounts";
@import "./acc-history";
@import "./privacy-fee";

header .container .header__content .left ul > li .drop-down > li {
  padding: 0 15px;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: roll 2s linear infinite;
    &:before,
    &::after {
      content: "";
      width: 200px;
      height: 200px;
      position: absolute;
      top: -10px;
      left: 0;
      box-sizing: border-box;
      border-radius: 50%;
    }
    &:before {
      border-top: 10px solid #e67e22;
      transform: rotate(120deg);
    }
    &:after {
      border-top: 10px solid #3498db;
      transform: rotate(240deg);
    }
    span {
      position: absolute;
      width: 200px;
      height: 200px;
      color: #fff;
      line-height: 200px;
      text-align: center;
      animation: roll2 2s linear infinite;
    }
  }
}

@keyframes roll {
  to {
    transform: rotate(360deg);
  }
}

@keyframes roll2 {
  to {
    transform: rotate(-360deg);
  }
}

.notification {
  background-color: $main-color;
  .container {
    .msg {
      width: 100%;

      color: white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      padding: 40px 70px;
    }
  }
}
