<%- include ('header',{title:'Active - Todo App'}); %>
<div class="container mt-60 wow fadeInDown">
    <div class="modal">
        <div class="modal-title">
            <span>
                <i class="fas fa-user"></i>
            </span>
            <h3>Active your account</h3>
        </div>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="token" id="token" value="<%-token?token:''%>" required>
            </div>
            <div class="form-group">
                <% if(errors){ %>
                <%- `<p style="margin-bottom:10px">* ${errors}</p>`  %>
                <%}%>
            </div>
            <div class="form-group mb-10">
                <a href="/resend">Gửi lại mã</a>
            </div>
            <div class="form-actions">
                <input type="submit" value="Kích Hoạt">
            </div>
        </form>
    </div>
</div>
<%- include ('footer'); %>