<%- include('./header', {title:'Payyed - My Account'})%>
<div class="my-account" style="height: calc(100vh - 85px);">
    <div class="my-account__content row">
        <div class="col-xs-2 option">
            <ul>
                <li class="flex">
                    <i class="far fa-file-alt"></i>
                    <a href="/my-account">Applications</a>
                </li>
                <li class="flex">
                    <i class="fas fa-layer-group"></i>
                    <a href="/">Account</a>
                </li>
                <li class="flex">
                    <i class="fas fa-comments-dollar"></i>
                    <a href="/transfer">Transfer</a>
                </li>
                <li class="flex">
                    <i class="fas fa-history"></i>
                    <a href="/history">History</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-10 my-account-content">
            <h3 class="title">
                History
            </h3>
            <div class="personal-details">
                <h4 class="sub-title">
                    TRANSACTIONs
                </h4>

                <div class="transaction">
                    <div class="filter flex a-center">
                        <div class="from date-ft">
                            <label for="date-from"></label>
                            <input type="date" name="" id="date-from" value="2020-07-01">
                        </div>
                        <div class="icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="to date date-ft">
                            <label for="date-to"></label>
                            <input type="date" name="" id="date-to" value="2020-08-01">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<%- include('./footer')%>
<script>
    $(function () {
        $('footer').css('display', 'none');
        $('.option ul li').click(function (e) {
            $('.option ul li').removeClass('active')
            $(this).toggleClass('active');
        })

        $('.navigation-bar').css('background-color', 'rgba(45, 190, 96, 0.5)')
        $('.navigation-bar .btn').css('background-color', 'transparent')

        $('#date-from').val()
        $('#date-to').val()
    });
</script>