<%- include('./header', {title:'Payyed - My Account'})%>
<div class="my-account" style="height: calc(100vh - 85px);">
    <div class="my-account__content row">
        <div class="col-xs-2 option">
            <ul>
                <li class="flex">
                    <i class="far fa-file-alt"></i>
                    <a href="/my-account">Applications</a>
                </li>
                <li class="flex">
                    <i class="fas fa-layer-group"></i>
                    <a href="/accounts">Account</a>
                </li>
                <li class="flex">
                    <i class="fas fa-comments-dollar"></i>
                    <a href="/transfer">Transfer</a>
                </li>
                <li class="flex">
                    <i class="fas fa-history"></i>
                    <a href="/history">History</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-10 my-account-content">
            <h3 class="title">
                Account
            </h3>
            <div class="personal-details">
                <h4 class="sub-title">
                    Credit Cards
                </h4>

                <div class="accounts">
                    <div class="list-card row">
                        <div class="list-card-item col-xs-12 col-md-4">
                            <div class="card ">
                                <div class="title">Pa<span>yy</span>ed</div>

                                <div class="stk">1000 2999 2229 3</div>
                                <div class="date flex a-center">
                                    <div class="tt">
                                        Valid<br>date :
                                    </div>
                                    <div class="sh">
                                        20/20/2020
                                    </div>

                                </div>
                                <div class="flex a-center j-between">
                                    <h3 class="name">Nguyen Van Nhat</h3>
                                    <div class="napas">
                                        NAPAS
                                    </div>

                                </div>
                            </div>
                            <div class="actions">
                                <input type="radio" name="setDefault" id="" onclick="setDefault(1000299922293)">
                            </div>
                        </div>
                        <div class="list-card-item col-xs-12 col-md-4">
                            <div class="card ">
                                <div class="title">Pa<span>yy</span>ed</div>

                                <div class="stk">1000 2999 2229 3</div>
                                <div class="date flex a-center">
                                    <div class="tt">
                                        Valid<br>date :
                                    </div>
                                    <div class="sh">
                                        20/20/2020
                                    </div>

                                </div>
                                <div class="flex a-center j-between">
                                    <h3 class="name">Nguyen Van Nhat</h3>
                                    <div class="napas">
                                        NAPAS
                                    </div>

                                </div>
                            </div>
                            <div class="actions">
                                <input type="radio" name="setDefault" id="" onclick="setDefault(1000299922293)">
                            </div>
                        </div>
                        <div class="list-card-item col-xs-12 col-md-4">
                            <div class="card ">
                                <div class="title">Pa<span>yy</span>ed</div>

                                <div class="stk">1000 2999 2229 3</div>
                                <div class="date flex a-center">
                                    <div class="tt">
                                        Valid<br>date :
                                    </div>
                                    <div class="sh">
                                        20/20/2020
                                    </div>

                                </div>
                                <div class="flex a-center j-between">
                                    <h3 class="name">Nguyen Van Nhat</h3>
                                    <div class="napas">
                                        NAPAS
                                    </div>

                                </div>
                            </div>
                            <div class="actions">
                                <input type="radio" name="setDefault" id="" onclick="setDefault(1000299922293)">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<%- include ('footer'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(function () {
        $.get("api/account/infor",
            function (data, textStatus, jqXHR) {
                $('.list-card').empty()
                console.log(data);
                if (data.length > 0)
                    data.forEach(element => {
                        $(` <div class="list-card-item col-xs-12 col-md-4">
                                <div class="card ">
                                    <div class="flex a-center j-between">
                                        <div class="title">Pa<span>yy</span>ed</div>
                                        <p class="money" style="color:rgba(250, 250, 250, 0.8);font-weight: 700">$ ${element.balance}</p>
                                        </div>

                                    <div class="stk">${element.STK.match(/.{1,4}/g).join(' ')}</div>
                                    <div class="date flex a-center">
                                        <div class="tt">
                                            Valid<br>date :
                                        </div>
                                        <div class="sh">
                                            ${new Date(element.beginDate).toISOString().slice(0, 10)}
                                        </div>

                                    </div>
                                    <div class="flex a-center j-between">
                                        <h3 class="name">${element.displayName}</h3>
                                        <div class="napas">
                                            NAPAS
                                        </div>

                                    </div>
                                </div>
                                <div class="actions">
                                    <input type="radio" name="setDefault" id="" ${element.isDefault ? 'checked' : ''} onclick="setDefault(${element.STK}, ${element.userID})">
                                </div>
                            </div>`).appendTo('.list-card');
                    });

            },
        );
    });
    function setDefault(stk, userID) {

        $.post("/api/set-default", { stk: stk, userID: userID },
            function (data, textStatus, jqXHR) {
                if (data) {
                    alert('Chuyển tài khoản thanh toán mặc định thành công')
                }
            },
        );

    }
    $('footer').css('display', 'none');
    $('.option ul li').click(function (e) {
        $('.option ul li').removeClass('active')
        $(this).toggleClass('active');
    })

    $('.navigation-bar').css('background-color', 'rgba(45, 190, 96, 0.5)')
    $('.navigation-bar .btn').css('background-color', 'transparent')
</script>