<%- include('./header', {title:'Payyed - My Account'})%>
<div class="my-account" style="height: calc(100vh - 85px);">
    <div class="my-account__content row">
        <div class="col-xs-2 option">
            <ul>
                <li class="flex">
                    <i class="far fa-file-alt"></i>
                    <a href="/my-account">Applications</a>
                </li>
                <li class="flex">
                    <i class="fas fa-layer-group"></i>
                    <a href="/accounts">Account</a>
                </li>
                <li class="flex">
                    <i class="fas fa-comments-dollar"></i>
                    <a href="/transfer">Transfer</a>
                </li>
                <li class="flex">
                    <i class="fas fa-history"></i>
                    <a href="/history">History</a>
                </li>
            </ul>
            <div class="available">
                <i class="fas fa-credit-card"></i>
                <h3 class="money">
                    <span>$</span> <span class="money-avail">0</span>
                </h3>
                <label>Available Balance</label>
            </div>
        </div>
        <div class="col-xs-10 my-account-content">
            <h3 class="title">
                History
            </h3>
            <div class="personal-details">
                <h4 class="sub-title">
                    TRANSACTIONs
                </h4>

                <div class="transaction">
                    <div class="filter flex a-center">
                        <div class="from date-ft">
                            <label for="date-from"></label>
                            <input type="date" name="" id="date-from" value="2020-07-01">
                        </div>
                        <div class="icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="to date date-ft">
                            <label for="date-to"></label>
                            <input type="date" name="" id="date-to" value="2020-08-01">
                        </div>
                        <div class="actions">
                            <button class="btn btn-filter">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="history">
                    <div class="row title">
                        <div class="col-xs-1 t-center">Date</div>
                        <div class="col-xs-8">Description</div>
                        <div class="col-xs-1 t-center">Status</div>
                        <div class="col-xs-2 t-center">Amount</div>
                    </div>
                    <div class="history-item">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<%- include('./footer')%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/Nhat/myaccount.js"></script>

<script>
    $(function () {
        $.get("/api/get-account-default",
            function (data, textStatus, jqXHR) {
                if (data) {
                    $('.money-avail').text(data.balance);
                }
            },
        );


        $('footer').css('display', 'none');
        $('.option ul li').click(function (e) {
            $('.option ul li').removeClass('active')
            $(this).toggleClass('active');
        })

        $('.navigation-bar').css('background-color', 'rgba(45, 190, 96, 0.5)')
        $('.navigation-bar .btn').css('background-color', 'transparent')

        $('#date-from').val()
        $('#date-to').val()


        $('.btn-filter').click(function (e) {
            const fromDate = $('#date-from').val();
            const toDate = $('#date-to').val();
            console.log(fromDate);
            console.log(toDate);
            $.post("/api/transfer/activity", { fromDate: fromDate, toDate: toDate },
                function (data, textStatus, jqXHR) {
                    console.log(data);
                    $('.history-item').empty();
                    if (data.length > 0) {
                        data.forEach(element => {
                            $(` <div class="transaction-item row">
                            <div class="col-xs-1 date t-center">${element.date}</div>
                            <div class="col-xs-8 des">${element.des}</div>
                            <div class="col-xs-1 status t-center"><i class="fas fa-check-circle"></i></div>
                            <div class="col-xs-2 amount t-center">${element.amount} ${element.currencyUnit}</div>
                        </div>`).appendTo(`.history-item`);
                        });
                    }
                },
            );
        })
    });
</script>