<%- include('./header', {title:'Payyed - My Account'})%>
<div class="my-account" style="height: calc(100vh - 85px);">
  <div class="my-account__content row">
    <div class="col-xs-2 option">
      <ul>
        <li class="flex">
          <i class="far fa-file-alt"></i>
          <a href="/my-account">Applications</a>
        </li>
        <li class="flex">
          <i class="fas fa-layer-group"></i>
          <a href="/accounts">Account</a>
        </li>
        <li class="flex">
          <i class="fas fa-comments-dollar"></i>
          <a href="/transfer">Transfer</a>
        </li>
        <li class="flex">
          <i class="fas fa-history"></i>
          <a href="/history">History</a>
        </li>
        <li class="flex">
          <i class="fas fa-ban"></i>
          <a href="/change-limit">Limit Blance</a>
        </li>
      </ul>
      <div class="available">
        <i class="fas fa-credit-card"></i>
        <h3 class="money"><span>$</span> <span class="money-avail">0</span></h3>
        <label>Available Balance</label>
      </div>
    </div>
    <div class="col-xs-10 my-account-content">
      <h3 class="title">
        History
      </h3>
      <div class="personal-details" style="margin-bottom: 80px;">
        <h4 class="sub-title">
          TRANSACTIONs
        </h4>

        <div class="transaction">
          <div class="filter flex a-center">
            <div class="from date-ft">
              <label for="date-from"></label>
              <input type="date" name="" id="date-from" value="2020-07-01" />
            </div>
            <div class="icon">
              <i class="fas fa-angle-right"></i>
            </div>
            <div class="to date date-ft">
              <label for="date-to"></label>
              <input type="date" name="" id="date-to" value="2020-08-20" />
            </div>
            <div class="actions">
              <button class="btn btn-filter">Filter</button>
            </div>
          </div>
        </div>
        <div class="history" style="position: relative; padding-bottom: 50px;">
          <div class="row title">
            <div class="col-xs-1 t-center">Date</div>
            <div class="col-xs-3">Description</div>
            <div class="col-xs-5">Message</div>
            <div class="col-xs-1 t-center">Status</div>
            <div class="col-xs-2 t-center">Amount</div>
          </div>
          <div class="history-item"></div>
          <div class="pagination" style="bottom: 0;padding-bottom: 20px;">
            <ul class="flex j-center a-center pag-list"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./footer')%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/Nhat/myaccount.js"></script>

<script>
  function getData(fromDate, toDate, page) {
    $.post("/api/transfer/activity", { fromDate, toDate, page }, function (
      data,
      textStatus,
      jqXHR
    ) {
      $(".history-item").empty();
      $(".pag-list").empty();
      if (data && data.list.length > 0) {
        data.list.forEach((element) => {
          $(` <div class="transaction-item row">
                            <div class="col-xs-1 date t-center">${element.date}</div>
                            <div class="col-xs-3 des">${element.des}</div>
                            <div class="col-xs-5 message">${element.message}</div>
                            <div class="col-xs-1 status t-center"><i class="fas fa-check-circle"></i></div>
                            <div class="col-xs-2 amount t-center">${element.amount} ${element.currencyUnit}</div>
                        </div>`).appendTo(`.history-item`);
        });

        let numpage = Math.floor(data.count / 8) + (data.count % 8 > 0 ? 1 : 0);
        for (let i = 0; i < numpage; i++) {
          if (i == page - 1) {
            $(
              ` <li class="pag-num active" value="${i + 1}">${i + 1} </li>`
            ).appendTo(".pag-list");
          } else {
            $(` <li class="pag-num" value="${i + 1}">${i + 1} </li>`).appendTo(
              ".pag-list"
            );
          }
        }
      }
    });
  }

  $(function () {
    const currentDate = new Date().toISOString().slice(0, 10);
    $("#date-to").val(currentDate);

    const frmDate = new Date($("#date-from").val())
      .toISOString()
      .slice(0, 10)
      .split("-")
      .join("/");
    const tDate = new Date($("#date-to").val())
      .toISOString()
      .slice(0, 10)
      .split("-")
      .join("/");
    getData(frmDate, tDate, 1);

    $(document).on("click", ".pag-num", function (e) {
      $(".pag-num").removeClass("active");
      $(this).addClass("active");
      const page = $(this).attr("value");

      const fromDate = new Date($("#date-from").val())
        .toISOString()
        .slice(0, 10)
        .split("-")
        .join("/");
      const toDate = new Date($("#date-to").val())
        .toISOString()
        .slice(0, 10)
        .split("-")
        .join("/");
      getData(fromDate, toDate, page);
    });

    $.get("/api/get-account-default", function (data, textStatus, jqXHR) {
      if (data) {
        $(".money-avail").text(data.balance);
      }
    });

    $("footer").css("display", "none");
    $(".option ul li").click(function (e) {
      $(".option ul li").removeClass("active");
      $(this).toggleClass("active");
    });

    $(".navigation-bar").css("background-color", "rgba(45, 190, 96, 0.5)");
    $(".navigation-bar .btn").css("background-color", "transparent");

    $("#date-from").val();
    $("#date-to").val();

    $(".btn-filter").click(function (e) {
      const fromDate = new Date($("#date-from").val())
        .toISOString()
        .slice(0, 10)
        .split("-")
        .join("/");
      const toDate = new Date($("#date-to").val())
        .toISOString()
        .slice(0, 10)
        .split("-")
        .join("/");
      getData(fromDate, toDate, 1);
    });
  });
</script>