<%- include ('header',{title:'Payyed - Forgot Password'}); %>
<div class="container" style="height: 100vh; background-color: #f1f5f6;">
    <div class="modal">
        <div class="modal-title">
            <span>
                <i class="fas fa-user"></i>
            </span>
            <h3>Confirm your code</h3>
        </div>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="txtCode" id="txtCode" value="" placeholder="Enter code" required>
            </div>
            <div class="form-group">
                <% if(errors.length > 0){ %>
                <%- `<p style="margin-bottom:10px; color:red">* ${errors[0].msg}</p>`  %>
                <%}%>
            </div>
            <div class="form-group mb-10">
                <a href="/resend">Resend code</a>
            </div>
            <div class="form-actions">
                <input type="submit" value="Confirm">
            </div>
        </form>
    </div>
</div>
<%- include ('footer'); %>