<%- include ('header',{title:'Payyed - Contact Us'}); %>
<div class="contact">
    <div class="nav">
        <div class="router flex a-center j-center">
            <a href="/">Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>Contact Us</span>
        </div>
        <h3>Contact Us</h3>
    </div>
    <div class="we">
        <div class="container">
            <ul class="row">
                <li class="col-xs-4">
                    <div class="gutter">
                        <div class="content">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="title">
                                Payyed Inc.
                            </div>
                            <span>
                                231 Duong Dinh Hoi, Phuoc Long B, Quan 9, TP.HCM
                            </span>

                        </div>

                    </div>
                </li>
                <li class="col-xs-4">
                    <div class="gutter">
                        <div class="content">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="title">
                                Telephone
                            </div>
                            <span>
                                (+84) 859888905 </br>
                                (+84) 393467109
                            </span>

                        </div>

                    </div>
                </li>
                <li class="col-xs-4">
                    <div class="gutter">
                        <div class="content">
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="title">
                                Business Inquiries
                            </div>
                            <span>
                                nvnhat.17ck1@gmail.com
                            </span>

                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="get">
        <h3>Get in Touch</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, consequatur!</p>
        <ul class="flex a-center j-center">
            <li>
                <i class="fab fa-facebook-f" style="color: #3b59a4;"></i>
            </li>
            <li>
                <i class="fab fa-twitter" aria-hidden="true" style="color: #00acee;"></i>
            </li>
            <li>
                <i class="fab fa-google-plus" aria-hidden="true" style="color: #dd4b39;"></i>
            </li>
            <li>
                <i class="fab fa-youtube" aria-hidden="true" style="color: #c4302b;"></i>
            </li>
            <li>
                <i class="fab fa-instagram" aria-hidden="true" style="color: #3f72a7;"></i>
            </li>

        </ul>
    </div>
    <div class="awe">
        <h3>Awesome Customer Support</h3>
        <p>Have you any query? Don't worry. We have great people ready to help you whenever you need it.</p>
        <a href=""><button class="btn">Find out more</button></a>
    </div>
</div>
<%- include ('footer'); %>