<%- include ('header',{title:'News - Covid 19'}) %>
<div class="news">
    <div class="container">
        <div class="news__content row ">
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
            <div class="news__content-item col-xs-6 col-md-3">
                <div class="gutter">
                    <div class="image">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html"><img
                                src="https://i1-vnexpress.vnecdn.net/2020/05/20/IMG6746JPG-1589977431-8161-1589977734.jpg?w=900&h=0&q=100&dpr=1&fit=crop&s=1ev325-x2oSWOwykiQo3Ow"></a>
                    </div>
                    <div class="news__content-item__title">
                        <a href="https://vnexpress.net/bi-thu-tinh-uy-thai-nguyen-lam-thu-truong-cong-an-4102595.html">
                            <h3>Bí thư tỉnh ủy Thái Nguyên làm thứ trưởng Công An</h3>
                        </a>
                    </div>
                    <div class="date">
                        <span>Wed, 20 May 2020 19:32:41 +0700</span>
                    </div>
                    <div class="news__content-item__content">
                        <p>Ông Trần Quốc Tỏ, Bí thư Tỉnh uỷ Thái Nguyên được Thủ tướng bổ nhiệm giữ chức vụ Thứ trưởng
                            Công an,
                            ngày 20/5.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="flex a-center j-center">
            <li class="active">
                <a href=""><button class="btn">0</button></a>
            </li>
            <li>
                <a href=""><button class="btn">1</button></a>
            </li>
            <li>
                <a href=""><button class="btn">2</button></a>
            </li>
            <li>
                <a href=""><button class="btn">3</button></a>
            </li>
            <li>
                <a href=""><button class="btn">4</button></a>
            </li>
        </ul>
    </div>
</div>
<%- include('footer') %>