
<%- include ('header',{title:'Payyed - Dashboard'}); %>
<div class="dashboard" >

    <div class="container">
        <div class="dashboard__content row pt-50">
            <div class="col-xs-12 col-md-3 dashboard__content-left ">
                <%- include('./info-left') %>
            </div>
            <div class="col-xs-12 col-md-9  dashboard__content-right">
                <div class="profile-complete">
                    <div class="title flex a-center">
                        <h3>
                            Profile Completeness
                        </h3>
                        <span class="tag">
                            50%
                        </span>
                    </div>
                    <div class="profile-complete__content row">
                        <div class="profile-comlete__content--item col-xs-12 col-md-3">
                            <div class="gutter">

                                <i class="fas fa-mobile-alt"></i>
                                <input type="checkbox" name="cbActive1" id="cbActive1" checked>
                                <label for="cbActive1" class="customInput1"></label>
                                <p>Mobile Added</p>
                            </div>
                        </div>
                        <div class="profile-comlete__content--item col-xs-12 col-md-3">
                            <div class="gutter">

                                <i class="far fa-envelope"></i>
                                <input type="checkbox" name="cbActive2" id="cbActive2" checked>
                                <label for="cbActive2" class="customInput2"></label>
                                <p>Email Added</p>
                            </div>
                        </div>
                        <div class="profile-comlete__content--item col-xs-12 col-md-3">
                            <div class="gutter">

                                <i class="far fa-credit-card"></i>
                                <input type="checkbox" name="cbActive3" id="cbActive3">
                                <label for="cbActive3" class="customInput"></label>
                                <p>Card Add</p>
                            </div>
                        </div>
                        <div class="profile-comlete__content--item col-xs-12 col-md-3">
                            <div class="gutter">

                                <i class="fas fa-university"></i>
                                <input type="checkbox" name="cbActive4" id="cbActive4">
                                <label for="cbActive4" class="customInput4"></label>
                                <p>Bank Add</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recent-activity mt-10">
                    <div class="recent-activity__content">
                        <div class="filter">
                            <input type="date" name="" id="filter-from" value="2020-02-02">
                            <input type="date" name="" id="filter-to" value="2020-02-02">
                        </div>
                        <div class="heading">
                            <div class="row a-center">
                                <div class="col-xs-1">
                                    <label for="">Date</label>
                                </div>
                                <div class="col-xs-7 ">
                                    <label for="">
                                        Description</label>
                                </div>
                                <div class="col-xs-2 t-center ">
                                    <label for="">Status</label>
                                </div>
                                <div class="col-xs-2 ">
                                    <label for="">Amount</label>
                                </div>
                            </div>
                        </div>

                        <div class="recent-activity__content br-4  " >
                            <div class="recent-activity__content--item row a-center" style="cursor:pointer; border-bottom: 1px solid #ddd;">
                                <div class="col-xs-1 date">
                                    <div class="day">14</div>
                                    <div class="month">APRIL</div>
                                </div>
                                <div class="col-xs-7 description">
                                    <div class="bank">ARG</div>
                                    <div class="actions">
                                        Payment Sent
                                            </div>
                                        </div>
                                        <div class="col-xs-2 t-center status">
                                            <label class="t-center-received">
                                                ✔
                                        </label>
                                    </div>
                                    <div class="col-xs-2 amount">
                                        <label for="">
                                            +500
                                            <span style="color: gray;">(USD)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-activity__content--item row a-center" style="cursor:pointer">
                                <div class="col-xs-1 date">
                                    <div class="day">14</div>
                                    <div class="month">APRIL</div>
                                </div>
                                <div class="col-xs-7 description">
                                    <div class="bank">ARG</div>
                                    <div class="actions">
                                        Payment Sent
                                            </div>
                                        </div>
                                        <div class="col-xs-2 t-center status">
                                            <label class="t-center-received">
                                                ✔
                                        </label>
                                    </div>
                                    <div class="col-xs-2 amount">
                                        <label for="">
                                            +500
                                            <span style="color: gray;">(USD)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('footer'); %>
    <script src="./js/Nhat/dashboard.js"></script>