<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include ('header',{title:'Payyed - Activity'}); %>
<h1 class="text-center text-red">Xin lỗi bạn không có quyền truy cập !!!</h1>
<div class="grid">
  <div id="total">
    <!-- Face Starts Here -->
    <div id="head">
      <br />
      <div class="eyes">
        <!-- Eye Lashes  -->
        <div class="lashes">
          <div id="lefts">
            <span class="left"></span>
            <span class="left"></span>
            <span class="left"></span>
            <span class="left"></span>
          </div>
          <div id="rights">
            <span class="right"></span>
            <span class="right"></span>
            <span class="right"></span>
            <span class="right"></span>
          </div>
        </div>
        <!-- Eye Lashes Ends Here -->

        <!-- Eyes Starts Here -->
        <div class="eye">
          <div class="pupil">
            <div class="iris">
              <div class="wh"></div>
            </div>
          </div>
        </div>
        <div class="eye">
          <div class="pupil">
            <div class="iris">
              <div class="wh"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Eyes ends here -->

      <!-- Nose start -->
      <div class="nose"></div>
      <!-- Nose ends -->
    </div>
    <!-- Head & Face Ends -->

    <!-- Body Starts -->
    <!-- Main part -->
    <div id="body"></div>
    <!-- Main part Ends -->

    <!-- Hands Starts -->
    <div id="hands">
      <div class="hand" id="lhand"></div>
      <div class="hand" id="rhand"></div>
    </div>
    <!-- Hands Ends -->

    <!-- Legs Starts -->
    <div id="legs">
      <div class="leg" id="lleg"></div>
      <div class="leg" id="rleg"></div>
    </div>
    <div id="ankle">
      <div id="lankles">
        <div class="lankle" id="rank1"></div>
        <div class="lankle" id="lank1"></div>
      </div>
      <div id="rankles">
        <div class="rankle" id="rank2"></div>
        <div class="rankle" id="lank2"></div>
      </div>
    </div>
    <!-- Leg Ends -->
  </div>
  <!-- Body Ends -->
  <div id="total">
    <!-- Face Starts Here -->
    <div id="head">
      <br />
      <div class="eyes">
        <!-- Eye Lashes  -->
        <div class="lashes">
          <div id="lefts">
            <span class="left"></span>
            <span class="left"></span>
            <span class="left"></span>
            <span class="left"></span>
          </div>
          <div id="rights">
            <span class="right"></span>
            <span class="right"></span>
            <span class="right"></span>
            <span class="right"></span>
          </div>
        </div>
        <!-- Eye Lashes Ends Here -->

        <!-- Eyes Starts Here -->
        <div class="eye">
          <div class="pupil">
            <div class="iris">
              <div class="wh"></div>
            </div>
          </div>
        </div>
        <div class="eye">
          <div class="pupil">
            <div class="iris">
              <div class="wh"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Eyes ends here -->

      <!-- Nose start -->
      <div class="nose"></div>
      <!-- Nose ends -->
    </div>
    <!-- Head & Face Ends -->

    <!-- Body Starts -->
    <!-- Main part -->
    <div id="body"></div>
    <!-- Main part Ends -->

    <!-- Hands Starts -->
    <div id="hands">
      <div class="hand" id="lhand"></div>
      <div class="hand" id="rhand"></div>
    </div>
    <!-- Hands Ends -->

    <!-- Legs Starts -->
    <div id="legs">
      <div class="leg" id="lleg"></div>
      <div class="leg" id="rleg"></div>
    </div>
    <div id="ankle">
      <div id="lankles">
        <div class="lankle" id="rank1"></div>
        <div class="lankle" id="lank1"></div>
      </div>
      <div id="rankles">
        <div class="rankle" id="rank2"></div>
        <div class="rankle" id="lank2"></div>
      </div>
    </div>
    <!-- Leg Ends -->
  </div>
  <!-- Body Ends -->
</div>

<%- include ('footer');%>
