</div>
<footer>
  <div class="container">
    <div class="row j-between a-center top">
      <div class="col-xs-6">
        <ul>
          <li>
            <a href="">About Us</a>
            <a href="">Support</a>
            <a href="">Help</a>
            <a href="">Careers</a>
            <a href="">Fees</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul class="flex" style="justify-content: flex-end;">
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row j-between a-center">
      <div class="col-xs-6">
        Copyright © 2019 Payyed. All Rights Reserved.
      </div>
      <div class="col-xs-6">
        <ul class="flex" style="justify-content: flex-end;">
          <li>
            <a href="">Security</a>

          </li>
          <li>
            <a href="">Terms</a>
          </li>
          <li>
            <a href="">Privacy</a>
          </li>



        </ul>
      </div>
    </div>

  </div>
</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="./vendor/OwlCarousel/dist/owl.carousel.min.js"></script>
<script src="./js/Nhat/main.js"></script>


<script>
  new WOW().init();
  $(document).ready(function () {
    if ($('.owl-carousel')) {

      $('.owl-carousel').owlCarousel({
        loop: true,
        items: 1,
        autoplay: true,
        autoplayHoverPause: true,
        nav: true,
        navText: ['<img src="../../img/angle-left.png"/>', '<img src="../../img/angle-right.png"/>'],
      });
    }
  });
</script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script>
  new WOW().init();

  // var socket = io("http://localhost:5000");
  // socket.on('connect', () => {
  //   // or with emit() and custom event names

  // });

  // socket.on('connect', () => {
  //   // or with emit() and custom event names

  //   console.log('okeeeê');
  //   $.get("api/current", function (data, textStatus, jqXHR) {
  //     if (data) {
  //       socket.emit('transfer', data);
  //       socket.on('server-send-client', data => {
  //         // alert(data);
  //         console.log(data);
  //       });
  //     }
  //   }
  //   );

  // });


  // });
  $(window).on('load', () => {
    $('.loading').fadeOut(500);
  })
  $(function () {
    $(document).on('click', '#nvn-bar', function (e) {
      e.preventDefault();
      $(this).toggleClass('active');

    })
    $(document).on('click', '#nvn-close', function (e) {
      e.preventDefault();
      $('#nvn-bar').removeClass('active');

    })

  });

  document.addEventListener("DOMContentLoaded", function () {
    var lazyloadImages;

    if ("IntersectionObserver" in window) {
      lazyloadImages = document.querySelectorAll(".lazy");
      var imageObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            var image = entry.target;
            image.classList.remove("lazy");
            imageObserver.unobserve(image);
          }
        });
      });

      lazyloadImages.forEach(function (image) {
        imageObserver.observe(image);
      });
    } else {
      var lazyloadThrottleTimeout;
      lazyloadImages = document.querySelectorAll(".lazy");

      function lazyload() {
        if (lazyloadThrottleTimeout) {
          clearTimeout(lazyloadThrottleTimeout);
        }

        lazyloadThrottleTimeout = setTimeout(function () {
          var scrollTop = window.pageYOffset;
          lazyloadImages.forEach(function (img) {
            if (img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
          });
          if (lazyloadImages.length == 0) {
            document.removeEventListener("scroll", lazyload);
            window.removeEventListener("resize", lazyload);
            window.removeEventListener("orientationChange", lazyload);
          }
        }, 20);
      }

      document.addEventListener("scroll", lazyload);
      window.addEventListener("resize", lazyload);
      window.addEventListener("orientationChange", lazyload);
    }
  })

</script>

</html>