</div>
<footer>
  <div class="container">
    <div class="row j-between a-center top">
      <div class="col-xs-6">
        <ul>
          <li>
            <a href="">About Us</a>
            <a href="">Support</a>
            <a href="">Help</a>
            <a href="">Careers</a>
            <a href="">Fees</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul class="flex" style="justify-content: flex-end;">
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row j-between a-center">
      <div class="col-xs-6">
        Copyright © 2019 Payyed. All Rights Reserved.
      </div>
      <div class="col-xs-6">
        <ul class="flex" style="justify-content: flex-end;">
          <li>
            <a href="">Security</a>

          </li>
          <li>
            <a href="">Terms</a>
          </li>
          <li>
            <a href="">Privacy</a>
          </li>



        </ul>
      </div>
    </div>

  </div>
</footer>
</body>
<script src="./vendor/jquery.min.js"></script>
<script src="./vendor/wow.min.js"></script>
<script src="./vendor/owl.carousel.min.js"></script>
<script src="./js/Nhat/main.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io("https://dack-17ck1.herokuapp.com");
  socket.on('server-send-client', data => {
    $.get("/api/count-notification",
      function (data, textStatus, jqXHR) {
        console.log(data);
        if (data && data > 0) {
          $('.number-noti').fadeIn(200);
          $('.number-noti').text(data)
        }
      }
    );
    $.get("/api/notification",
      function (data, textStatus, jqXHR) {
        $('.user-noti').empty();

        if (data && data.length > 0) {
          data.map(item => {
            $(`<li class="${!item.seen ? 'not-seen' : ''}" ><a href="${item.type == 1 ? '/history' : ''}" onclick="seenNotification(${item.id})">${item.msg}</a></li>`).appendTo('.user-noti');
          })
        }
      }
    );
  });
  const seenNotification = (id) => {
    $.post("/api/seen-notification", { id: id },
      function (data, textStatus, jqXHR) {
        console.log(data);

      },
    );
  }
  // lay so luong thong bao chua doc
  $.get("/api/count-notification",
    function (data, textStatus, jqXHR) {
      console.log(data);
      if (data && data > 0) {
        $('.number-noti').fadeIn(200);
        $('.number-noti').text(data)
      }
    }
  );
  $.get("/api/notification",
    function (data, textStatus, jqXHR) {
      $('.user-noti').empty();
      console.log(data);
      if (data && data.length > 0) {
        data.map(item => {
          $(`<li class="${!item.seen ? 'not-seen' : ''}" ><a href="${item.type == 1 ? '/history' : ''}" onclick="seenNotification(${item.id})">${item.msg}</a></li>`).appendTo('.user-noti');
        })
      }
    }
  );

  new WOW().init();
  $(document).ready(function () {
    if ($('.owl-carousel').length > 0) {

      $('.owl-carousel').owlCarousel({
        loop: true,
        items: 1,
        autoplay: true,
        autoplayHoverPause: true,
        nav: true,
        navText: ['<img src="../../img/angle-left.png"/>', '<img src="../../img/angle-right.png"/>'],
      });
    }
  });

  $(window).on('load', () => {
    $('.loading').fadeOut(200);
  })
  $(function () {
    $(document).on('click', '#nvn-bar', function (e) {
      e.preventDefault();
      $(this).toggleClass('active');

    })
    $(document).on('click', '#nvn-close', function (e) {
      e.preventDefault();
      $('#nvn-bar').removeClass('active');

    })


    let pathname = location.pathname
    if (pathname == '/page-confirm' || pathname == '/transfer') {
      $('.navs-item .btn').removeClass('active');
      $('.n-transfer .btn').addClass('active')
    }
    else if (pathname == '/about') {
      $('.navs-item .btn').removeClass('active');
      $('.n-about .btn').addClass('active')
    }
    else if (pathname == '/my-account') {
      $('.navs-item .btn').removeClass('active');
      $('.n-my-account .btn').addClass('active')
    }
    else if (pathname == '/accounts') {
      $('.navs-item .btn').removeClass('active');
      $('.n-account .btn').addClass('active')
    }
    else if (pathname == '/noti') {
      $('.navs-item .btn').removeClass('active');
      $('.n-notifications .btn').addClass('active')
    }
    else if (pathname == '/contact') {
      $('.navs-item .btn').removeClass('active');
      $('.n-contact .btn').addClass('active')
    }

  });

  document.addEventListener("DOMContentLoaded", function () {
    var lazyloadImages;

    if ("IntersectionObserver" in window) {
      lazyloadImages = document.querySelectorAll(".lazy");
      var imageObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            var image = entry.target;
            image.classList.remove("lazy");
            imageObserver.unobserve(image);
          }
        });
      });

      lazyloadImages.forEach(function (image) {
        imageObserver.observe(image);
      });
    } else {
      var lazyloadThrottleTimeout;
      lazyloadImages = document.querySelectorAll(".lazy");

      function lazyload() {
        if (lazyloadThrottleTimeout) {
          clearTimeout(lazyloadThrottleTimeout);
        }

        lazyloadThrottleTimeout = setTimeout(function () {
          var scrollTop = window.pageYOffset;
          lazyloadImages.forEach(function (img) {
            if (img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
          });
          if (lazyloadImages.length == 0) {
            document.removeEventListener("scroll", lazyload);
            window.removeEventListener("resize", lazyload);
            window.removeEventListener("orientationChange", lazyload);
          }
        }, 20);
      }

      document.addEventListener("scroll", lazyload);
      window.addEventListener("resize", lazyload);
      window.addEventListener("orientationChange", lazyload);
    }
  })




</script>

</html>