</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="./vendor/OwlCarousel/dist/owl.carousel.min.js"></script>
<script src="./js/Nhat/main.js"></script>


<script>
    new WOW().init();
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            items: 1,
            autoplay: true,
            autoplayHoverPause: true,
            nav: true,
            navText: ['<img src="../../img/angle-left.png"/>', '<img src="../../img/angle-right.png"/>'],
        });
    });
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
    new WOW().init();

    var socket = io("https://dack-17ck1.herokuapp.com");
    $(window).on('load', () => {
        $('.loading').fadeOut(500);
    })
$(function () {
    $(document).on('click', '#nvn-bar', function(e){
        e.preventDefault();
        $(this).toggleClass('active');

    })
    $(document).on('click', '#nvn-close', function(e){
        e.preventDefault();
        $('#nvn-bar').removeClass('active');

    })
   
});
</script>

</html>
