<%- include ('header',{title:'Payyed - Home'}); %>
<div class="slider">
  <div class="owl-carousel owl-theme">
    <div class="slider__item bg-1 lazy">
      <div class="overlayer"></div>
      <div class="slider__item--content">
        <h1>Send & Receive Money</h1>
        <h3>
          Quickly and easily send, receive and request money online with Payyed.
        </h3>
        <p>Over 180 countries and 120 currencies supported.</p>
      </div>
      <div class="slider__item-actions">
        <a href=""><button class="btn">Open a free account</button></a>
      </div>
    </div>
    <div class="slider__item bg-2 lazy">
      <div class="overlayer"></div>
      <div class="slider__item--content">
        <h1>Trusted by more than 50,000 businesses worldwide.</h1>
        <p>Over 180 countries and 120 currencies supported.</p>
      </div>
      <div class="slider__item-actions">
        <a href=""><button class="btn">Open a free account</button></a>
      </div>
    </div>
    <div class="slider__item bg-3 lazy">
      <div class="overlayer"></div>
      <div class="slider__item--content">
        <h1>Send & Receive Money</h1>
        <h3>
          Quickly and easily send, receive and request money online with Payyed.
        </h3>
        <p>Over 180 countries and 120 currencies supported.</p>
      </div>
      <div class="slider__item-actions">
        <a href=""><button class="btn">Open a free account</button></a>
      </div>
    </div>
  </div>
</div>

<div class="section section-1">
  <div class="container">
    <div class="section-title">
      <h3>
        Why should you choose Payyed?
      </h3>
      <span>
        Here’s Top 4 reasons why using a Payyed account for manage your money.
      </span>
    </div>
    <div class="section-content row">
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-hand-pointer"></label>
        <h4>Easy to use</h4>
        <p>
          Lisque persius interesset his et, in quot quidam persequeris vim, ad
          mea essent possim iriure.
        </p>
        <a href="">Learn more</a>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-share"></label>
        <h4>Faster Payments</h4>
        <p>
          Persius interesset his et, in quot quidam persequeris vim, ad mea
          essent possim iriure.
        </p>
        <a href="">Learn more</a>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-dollar-sign"></label>
        <h4>Lower Fees</h4>
        <p>
          Essent lisque persius interesset his et, in quot quidam persequeris
          vim, ad mea essent possim iriure.
        </p>
        <a href="">Learn more</a>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <label for="" class="fas fa-lock"></label>
        <h4>100% secure</h4>
        <p>
          Quidam lisque persius interesset his et, in quot quidam persequeris
          vim, ad mea essent possim iriure.
        </p>
        <a href="">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="section section-2">
  <div class="container">
    <div class="section-content row a-center j-center">
      <div class="section-content-left col-xs-12 col-md-6">
        <h3>Payment Solutions for anyone.</h3>
        <p>
          Quidam lisque persius interesset his et, in quot quidam persequeris
          vim, ad mea essent possim iriure. Lisque persius interesset his et, in
          quot quidam persequeris vim, ad mea essent possim iriure. lisque
          persius interesset his et, in quot quidam mea essent possim iriure.
        </p>
        <a href="">Find more solution ➤</a>
      </div>
      <div class="section-content-right col-xs-12 col-md-6">
        <div class="row image">
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-1" style=""></div>
          </div>
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-2"></div>
          </div>
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-3"></div>
          </div>
          <div class="col-xs-6 col-md-6 image-item">
            <div class="gutter img-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-3">
  <div class="container">
    <div class="section-title">
      <h3>
        What can you do with Payyed?
      </h3>
      <span>
        Here’s Top 4 reasons why using a Payyed account for manage your money.
      </span>
    </div>
    <div class="section-content row">
      <div class="col-xs-6 col-md-3 section-content-item">
        <div class="gutter">
          <label for="" class="fas fa-share-square"></label>
          <h3>Send Money</h3>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <div class="gutter">
          <label for="" class="fas fa-check-square"></label>
          <h3>Send Money</h3>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <div class="gutter">
          <label for="" class="fas fa-user-friends"></label>
          <h3>Send Money</h3>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 section-content-item">
        <div class="gutter">
          <label for="" class="fas fa-shopping-bag"></label>
          <h3>Send Money</h3>
        </div>
      </div>
    </div>
    <a href="">See more can you do ➤</a>
  </div>
</div>
<div class="section section-2 section-4">
  <div class="container">
    <div class="section-content row a-center j-center">
      <div class="section-content-left col-xs-12 col-md-6">
        <div class="gutter img-5">
          <label class="fas fa-play"></label>
        </div>
      </div>
      <div class="section-content-right col-xs-12 col-md-6">
        <h3 style="font-size: 36px; font-weight: bolder; margin-bottom: 20px;">
          How does it work?
        </h3>
        <p style="line-height: 1.9rem;">
          Quidam lisque persius interesset his et, in quot quidam persequeris
          essent possim iriure. Lorem Ipsum is simply dummy text of the printing
          and typesetting industry..
        </p>
        <ul>
          <li style="margin-bottom: 10px; margin-top: 20px;">
            <label for="" class="fas fa-check mr-2"></label>
            Sign Up Account
          </li>
          <li style="margin-bottom: 10px;">
            <label for="" class="fas fa-check mr-2"></label>
            Receive & Send Payments from worldwide
          </li>
          <li style="margin-bottom: 10px;">
            <label for="" class="fas fa-check mr-2"></label>
            Your funds will be transferred to your local bank account
          </li>
        </ul>
        <a href="">
          <button
            class="btn"
            style="
              background-color: white;
              border: 1px solid #2dbe60 !important;
              color: #2dbe60;
              margin-top: 16px;
            "
          >
            Open a Free Account
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include ('footer'); %>
