<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <div class="container">

        <div class="page_header">
            <h1>Privacy policy</h1>
    </div>
        <div class="introduce">
            <h3>Introduction</h3>
            <p>
                Your privacy and security of your personal information are very important to us at WePower group of companies.
            </p>
            <p>
                The purpose of this Privacy Policy is to explain how we collect, store, use, and otherwise process your personal information when you use WePower green energy trading platform (hereinafter the “Platform”) or use WePower‘s website and/or other WePower‘s services, tools and/or products provided in Company’s website or related domains and/or subdomains at: <a href="https://www.wepower.com/">https://www.wepower.com/</a> , including, but not limited to Going Green Tool.
You can find information about our use of cookies and similar technologies in our Cookie Policy. Information related to personal information usage for direct marketing purposes is set out in Direct Marketing Notice. Both Cookie Policy and Marketing Notice are a part of our Privacy Policy. Therefore, when we refer to the Privacy Policy, we are referring to the Privacy Policy, Cookie Policy and Direct Marketing Notice.
When using the Website, you may come across links to other websites, apps and services, or tools that enable you to share information with other websites, apps and services. We are not responsible for the privacy practices of these other websites, apps and services and we recommend you to review the privacy policies of each of these websites, apps or services before using the Website or sharing any personal information at all.
We may update this Privacy Policy from time to time unilaterally, in our sole discretion. Be sure to periodically check this page to ensure that at all times you are aware of any changes to this Privacy Policy. Changes of the Privacy Policy come in to force on the day they are published on the Website, so by using the Website after we make changes to the Privacy Policy, you are agreeing to the terms of the new Privacy Policy.
            </p>
            <p>
                This Privacy Policy explains the following, amongst other things:
            <br>
            </p>
            <ul>
                <li>What is personal information and how do we process it?</li>
                <li>The personal information that we process;</li>
                <li>Who we share your personal information with?</li>
                <li>How do we use information about you?</li>
                <li>Your rights;</li>
                <li>Our rights and obligations;</li>
                <li>How do we take care of your personal information security?</li>
                <li>Who to contact if you have any questions</li>
            </ul>
            <p></p>
            <h3>
                1. What is personal information and how do we process it?
            </h3>
            <p>
                Personal information – is any information about you, which allows us to directly or indirectly identify you by using an identifier such as name, identification number, geographical location data, online identifier or other factors associated to the physical, physiological, genetic, mental, economic, cultural or social identity. We process your personal information in accordance with applicable laws including the Privacy Act 1988, European Union General Data Protection Regulation and other laws regulating the protection of personal information.
                <br>
            </p>
            <p>
                When we process your personal information we ensure that your personal information is:
                <br>
            </p>
            <ul>
                <li>processed lawfully, fairly and in a transparent manner;</li>
                <li>collected for specified, explicit and legitimate purposes</li>
                <li>adequate, relevant and limited to what is needed;</li>
                <li>accurate and, where necessary, kept up to date;</li>
                <li>
                    kept in a form which allows identification of data subjects for no longer than is necessary;</li>
                <li>
                    processed in a manner that ensures appropriate security of the personal information, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organisational measures.
                </li>
            </ul>
            <p></p>
            <h3>2. Why we collect and process your personal information</h3>
            <p>
                All your personal information we collect is required for the functioning of the Website and the Platform services. This information is necessary for the adequate performance of the contract between you and us, and to allow us to comply with our legal obligations.
            </p>
            <h3>3. What personal information we collect and when we collect it</h3>
            <p>
                We collect personal information when you register and want to participate in the Platform (buy green energy, invest in to green energy, raise funds for green energy projects etc.) or Website related services such as Going Green Tool. For this reason, we collect data such as name, surname, address, email, crypto wallet address, passport / ID photo, face photo, energy consumption data (annual), bank account, social media profile (facebook, gmail etc.), geographical location data. It is important that your personal information including face recognition is processed for registration to the Platform. This data may be used for “Know Your Customer” purposes, and at all times based on your consent. We store your personal information for the duration of provision of Platform services and/or going Green tool for the minimum of 24 calendar months and the maximum period set by relevant legal acts or Platform terms, whichever applies.
            </p>
            <h3>4. Communication</h3>
            <p>We collect your personal information for communication purposes. When you participate in discussion boards, enter a competition, promotion or survey, messaging groups such as Telegram, Twitter, Facebook, Linkedin, Youtube, Bitcointalk, Reddit, Medium, Github and other similar services. For this reason, we collect name, surname, address, email, personal description and any other information you provide us with. We store such personal information for as long as you are registered to the Platform.
                <br>
                You can communicate with us by using tools provided on our Websites, for example, clicking the button “Contact us”. In this case we process the personal information which you share with us (e.g., your contact details). Your messages will be processed and stored until we analyze your information and make the best decision dedicated to you (e.g., responding to your enquiry).
            </p>
            <h3>5. Direct marketing</h3>
            <p>More information about data processing for direct marketing purposes may be found here:
                <a href="https://www.wepower.com/direct-marketing.com.">https://www.wepower.com/direct-marketing.com.</a>
            </p>
            <h3>6. Who do we share your personal information with?</h3>
            <p>We share your personal information with other companies in our corporate group.</p>
            <p>
                WePower UAB, (company code 304449091, Antakalnio st. 17, Vilnius, Lithuania) is the controller of your personal information, which is a subsidiary of WePower group of companies. We have a legitimate interest to share your personal information with other companies of WePower group, including our subsidiaries, our ultimate holding company and its subsidiaries. The data sharing is necessary for the performance of the contract between you and us and is based on our legitimate interests in providing the Website services globally. 
                <br>
                We may also subcontract processing to, or share your personal information with, third parties located in countries other than the country in which it was collected including the Commonwealth of Australia and member states of the European Union. Your personal information may therefore be subject to privacy laws that are different from those in your country of residence, and the privacy laws of those countries may not provide the same level of protection as the privacy laws of the country from which the personal information was collected. However, this does not change our commitments to safeguard your privacy and we will comply with all applicable laws relating to the cross-border data disclosure.
                <br>
                For the avoidance of doubt, WePower is bound by the data protection laws and policies of the European Union, including the General Data Protection Regulation, and is subject to the standards set out in those laws and policies, notwithstanding that these standards may be more stringent than those applicable in your country of residence.
                <br>
                We may share your personal information with a variety of third party service providers who provide services and process personal information on our behalf. These service providers have access to your information only to perform these tasks and are contractually bound to implement appropriate organisational and technical security measures to protect your personal information, and only to process personal following our instructions and to the extent necessary to provide their services to us.
                <br>
                We must disclose your personal information to fraud and crime prevention agencies for the purpose of assessing the risk of crime, fraud and money laundering and this is a condition of us entering into any contract with you. In this case your personal information is disclosed under the regulatory requirements.
                <br>
                We may disclose your information to courts, law enforcement agencies, and governmental authorities that may request relevant information. Also, if we feel this is necessary, we may disclose your personal information to legal services providers in order to protect or defend our legitimate rights and interests.
            
            </p>
            <p>
                Metering data
            </p>
            <p>
                Any information provided to WePower in relation to metering data and/or NMI standing data (as defined in the National Electricity Rules) will be dealt with in accordance with the National Electricity Rules, any directions issued by AEMO, and any applicable privacy legislation. Any such data will be processed and stored securely by mechanisms acceptable to AEMO, protected from local access and remote access by suitable passwords and other security controls, and handled by competent employees trained to maintain the physical and logical security of the data, and accessed to only by those persons authorised to receive the data.
            </p>
            <h3>7. How do we use your information?</h3>
            <p>We use the information that you provided: <br></p>
            <ul>
                <li>to carry out our obligations arising from any contracts entered into between us and to provide you with the information, products and services that you request from us;</li>
                <li>
                    to provide you with information about other goods and services we offer that are similar to those that you have already purchased or enquired about;
                </li>
                <li>
                    to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you;
                </li>
                <li>to notify you about changes in our services;</li>
                <li>to ensure that content from our Website is presented in the most effective manner for you and for your computer.</li>
            </ul>
            <p>We use the information we collected from you: <br></p>
            <ul>
                <li>
                    to administer our Website and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;
                </li>
                <li>
                    to improve our Website to ensure that the content is presented in the most effective manner for you and for your computer;
                </li>
                <li>
                    to allow you to participate in interactive features of our service, when you choose to do so;
                </li>
                <li>as part of our efforts to keep our Website safe and secure;</li>
                <li>
                    to measure or understand the effectiveness of advertising that we serve you and others, and to deliver relevant advertising to you;
                </li>
                <li>
                    to make suggestions and recommendations to you and other users of our Website about goods or services that may best fit you or them.
                </li>
            </ul>
            <h3>8. Your rights and obligations</h3>
            <p>
                Your rights as a data subject, subject to restrictions under applicable laws are described below:
                <br>
            </p>
            <ul>
                <li>
                    you have the right to access the personal information that we hold about you. You may be entitled to request copies of your personal information, to know for what purposes your personal information is processed, the period for which personal information will be stored etc.;
                </li>
                <li>
                    you have the right to request that we amend or update your personal information where it is inaccurate or incomplete;
                </li>
            </ul>
            <p></p>
            <p>
                To request access to the personal information we hold about you or request that we amend or update it, please contact us via email at <a href="team@wepower.com">team@wepower.com</a> . Your privacy is important to us, so before granting access or making such changes, we may require that you prove your personal identity using electronic communication that allow proper identification of you in accordance with the procedure established by applicable laws.
            </p>
            <p>
                We will provide you with your personal information as soon as possible and not later than within one month from the day of your application. We provide information to you free of charge, but if the requests are going to be manifestly unfounded or excessive, in particular because of their repetitive character, we may charge a reasonable fee with regard to administrative costs or refuse to act on your request (if permitted by applicable laws).
            </p>
            <p>
                You have the right to file complaints about our data processing activities. Please first try to resolve any misunderstandings directly with us. If you are unhappy with our reply, you have the right to lodge a complaint to the relevant regulator.
            </p>
            <h3>9. Our rights and obligations</h3>
            <p>
                We have the right to not let you use our Website if you are less than 18 years old. If we have doubts about accuracy of your submitted personal information or other related information, we have the right to ask clarification or supplement of your personal information or related information.
            </p>
            <p>
                We have the right to send important information to your email about updates to services or the Website and its terms and conditions or other related information about our activities.
            </p>
            <p>
                We make all reasonable efforts to ensure the smooth and further functioning of the Website and the Platform, but we do not ensure the continued functioning of the Website and the Platform, which may be influenced by other independent factors.
            </p>
            <h3>10. How do we take care of your personal information security?</h3>
            <p>
                We use appropriate organisational and technical personal information security measures including protection against unauthorised or unlawful processing, accidental loss, destruction or damage of your data. The measures we use are based on the risks to your rights and freedoms presented by each processing activity we use.
            </p>
            <p>
                We ensure strict access control to your personal information and provide access to only our employees who have a need to know your personal information for their work, and we monitor their use of such personal information.
            </p>
            <p>
                We implement suitable security mechanisms to protect against unauthorised remote access to your personal information and we regularly monitor our systems for possible vulnerabilities and attacks. However, it is not possible to guarantee the security of information transmitted over the Internet. You use the Website and the Platform and provide us with information at your own discretion and risk.
            </p>
            <p>
                We provide access to personal information with the correct level of passwords and create confidentiality agreements with individuals who access your personal information.
            </p>
            <p>
                If our employees need to access your personal information to complete their work, we train them on personal information protection requirements and confidentiality.
            </p>
            <h3>11. Questions?</h3>
            If you have any questions about your privacy, information we have about you, your rights, and how to exercise them, please contact us via email at: <a href="team@wepower.com">team@wepower.com.</a>
        </div>
</body>
</html>