<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="privacy-img-first" style="background-image: url('../public/img/privacy-first-img.jpg');">
    </div>
    <div class="privacy-contenT">
        <div class="containeR">
        <h1 class="text">
            We Promise Low Fees
            <br>
            
            and No Extra Charges
        </h1>
        <p>
            Signing up to a Payyed account is FREE of charge.
            Create your account today and start!
        </p>
    </div>
</div>
    <div class="container">
    <div class="text-center-1">
        <div class="box-center">
            <div class="box-icon">
                <i class="fas fa-download">

                </i>
                <h3 class="text-body">
                    Withdrawal Funds
                </h3>
                <div class="next-textbody">
                    You can easily withdraw funds to your local bank account in local currency at excellent rates.
                </div>
            </div>
            <div class="text-sale">up to 1.5%</div>
            <a href="#">Learn more</a>
        </div>
    </div>
    <div class="text-center-1">
        <div class="box-center">
            <div class="box-icon">
                <i class="fas fa-upload">

                </i>
                <h3 class="text-body">
                    Deposit Funds
                </h3>
                <div class="next-textbody">
                    With a wide variety of options for deposit your account. There is always an option that is right for you.
                </div>
            </div>
            <div class="text-sale">up to 1.0%</div>
            <a href="#">Learn more</a>
        </div>
    </div>
</div>
</body>
</html>