<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Nhat/main.css">
    <title>Payyed - Add money</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <div class="staff">
        <header>
            <div class="flex navigation j-between a-center">
                <div class="logo flex  a-center">
                    <i class="fas fa-university" style="font-size: 25px;"></i>
                    <a href="/"
                        style="color: #333;font-weight: 600;font-size: 26px;font-style: italic; margin-left: 10px;">Pa<span
                            style="color: #2dbe60;">yy</span>ed</a>
                </div>
                <div class="right">
                    <ul class="flex a-center">
                        <li class="noti">
                            <a href="">
                                <i class="far fa-bell"></i>
                                <label class="number-of-noti">1</label>
                            </a>
                            <ul class="drop-down">

                            </ul>
                        </li>
                        <li>
                            <a href=""><i class="far fa-comment-alt"></i></a>
                        </li>
                        <li>
                            <a href="/logout"><i class="fas fa-power-off"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="row staff-option">
                <div class="col-xs-4 left">
                    <div class="personal-info">
                        <img src="./img/dog.png" alt=" ">
                        <p>Nguyen Van Nhat</p>
                    </div>

                    <div class="staff-dashboard">
                        <a href="">
                            <i class="fas fa-border-all"></i>
                            Dashboard
                        </a>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            WORK SPACE
                        </h4>
                        <ul>
                            <li class="active">
                                <a href="/add-money">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    Add money
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-search"></i>
                                    Search
                                </a>
                            </li>
                            <li>
                                <a href="/staff-activity">
                                    <i class="fas fa-university"></i>
                                    Activity
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            LISTS
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Customers
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Supplier
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            Manager
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Connection
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-user-friends"></i>
                                    My Team
                                </a>

                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-user-friends"></i>
                                    My Clients
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8 right">
                    <div class="option-content add-money">
                        <h3 class="title">
                            ADD MONEY FOR CUSTOMER
                        </h3>
                        <div class="search-square">
                            <input type="search" name="" id="txtSearch">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i>
                            </button>

                        </div>
                        <div class="result-square row">
                            <div class="result-square-left  col-xs-6">
                                <div class="result-square-left_item flex">
                                    <label for="txtAmount">Amount</label>
                                    <input type="text" id="txtAmount">
                                </div>
                                <div class="result-square-left_item flex">
                                    <label for="txtCurrencyUnit">Currency Unit</label>
                                    <select name="txtCurrencyUnit" id="txtCurrencyUnit">
                                        <option value="USD">USD</option>
                                        <option value="VND">VND</option>
                                    </select>
                                </div>
                                <div class="result-square-left_item flex">
                                    <label for="txtMessage">Message</label>
                                    <input type="text" id="txtMessage">
                                </div>
                                <div class="result-square-left_item">
                                    <button type="submit" class="btn btn-add-money">ADD MONEY</button>
                                </div>

                            </div>
                            <div class="result-square-right  col-xs-6">
                                <div class="card">
                                    <div class="card__content">
                                        <div class="gutter ">

                                            <div class="card-number">

                                            </div>
                                            <div class="card-date flex a-center">
                                                <div class="card-from card-date__item">
                                                    <p>Valid from</p>
                                                    <div class="date">

                                                    </div>
                                                </div>
                                                <div class="card-info flex a-center">
                                                    <div class="card-name">

                                                    </div>
                                                    <div class="type">
                                                        <p class="napas">napas</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $.get("/staff/api/all-notification",
        function (data, textStatus, jqXHR) {
            $('.drop-down').empty();
            if (data.length > 0) {
                data.forEach(element => {
                    let msg = `User ${element.userID} yêu cầu khóa tài khoản`;
                    if (element.type == 1) {
                        msg = `User ${element.userID} xác thực tài khoản`;

                    }
                    if (element.type == 2) {
                        msg = `User ${element.userID} yêu cầu mở tài khoản thanh toán`;

                    }
                    if (element.type == 3) {
                        msg = `User ${element.userID} yêu cầu mở tài khoản tiết kiệm`;

                    }

                    $(` <li data-x="${msg}"">
                                    <a href="/request?id=${element.id}">${msg.slice(0, 15)}...</a>
                                </li>`).appendTo('.drop-down');
                });

            }
        },
    );


    const addText = (txt, selector, rm) => {
        $(rm).remove();
        $(txt).appendTo(selector)
    }

    $('.btn-search').click(function (e) {
        $('.txtNumberx').remove();
        $('.txtDatex').remove();

        $('#txtAmount').text('');
        $('#txtSearch').text('');
        $('#txtMessage').text('');
        if ($('.error')) $('.error').remove();

        if (!$('#txtSearch').val() || $('#txtSearch').val().length <= 0) alert('Vui Lòng Điền Thông Tin Cần Tìm')

        if ($('#txtSearch').val() && $('#txtSearch').val().length > 0) {
            $.post("/api/customer-search", { st: $('#txtSearch').val() },
                function (data, textStatus, jqXHR) {
                    console.log(data);
                    if (!data) $(`<p class="error" >Không tìm thấy tài khoản phù hợp </p>`).appendTo('.search-square');
                    else {
                        const stk = data.STK.match(/.{1,4}/g).join(' ');
                        const date = new Date(data.beginDate).toISOString().slice(0, 10);
                        addText(`<p class="txtNumberx">${stk}</p>`, '.card-number', '.txtNumberx');
                        addText(`<span class="txtDatex">${date}</span>`, '.date', '.txtDatex');
                        addText(`<span class="txtNamex">${data.displayName.toLowerCase()}</span>`, '.card-name', '.txtNamex');
                    }
                },
            );
        }
    })

    $(function () {
        $('.btn-add-money').click(async function (e) {
            e.preventDefault();

            const money = $('#txtAmount').val();
            const currencyUnit = $('#txtCurrencyUnit').val();
            const stk = $('#txtSearch').val();
            const message = $('#txtMessage').val();

            if (!money || !currencyUnit || !stk || !message) {
                alert('Vui lòng điền đầy đủ thông tin');
                return;
            }

            let tmp = money;
            if (currencyUnit == "VND") {
                tmp = Number(money) / 23000;
            }

            if (!Number(money) || Number(money) <= 0) {
                alert('Vui lòng nhập số tiền hợp lệ');
                return;
            }
            $.post("api/account/addMoney", {
                money: tmp,
                currencyUnit: currencyUnit,
                bankCode: 'ARG',
                stk: stk,
                message: message,
                from: 'ADMIN',
            },
                function (data, textStatus, jqXHR) {

                    if (data == '1') {
                        alert('Nạp tiền thành công');
                        const activity = {
                            stk,
                            money,
                            currencyUnit
                        }
                        localStorage.setItem('activityTransfer', JSON.stringify(activity));
                        $(location).attr('href', '/add-money');
                    }
                },
            );
        })
    });
</script>