<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Nhat/main.css">
    <title>Payyed - Add money</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <div class="staff">
        <header>
            <div class="flex navigation j-between a-center">
                <div class="logo">
                    <i class="fas fa-university"></i>
                    Payyed
                </div>
                <div class="right">
                    <ul class="flex a-center">
                        <li class="noti">
                            <a href="">
                                <i class="far fa-bell"></i>
                                <label class="number-of-noti">1</label>
                            </a>
                        </li>
                        <li>
                            <a href=""><i class="far fa-comment-alt"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-cog"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="row staff-option">
                <div class="col-xs-4 left">
                    <div class="personal-info">
                        <img src="./img/dog.png" alt=" ">
                        <p>Nguyen Van Nhat</p>
                    </div>

                    <div class="staff-dashboard">
                        <a href="">
                            <i class="fas fa-border-all"></i>
                            Dashboard
                        </a>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            WORK SPACE
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    Add money
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-search"></i>
                                    Search
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-university"></i>
                                    Bank
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            LISTS
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Customers
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Supplier
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            Manager
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Connection
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-user-friends"></i>
                                    My Team
                                </a>

                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-user-friends"></i>
                                    My Clients
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8 right">

                    <div class="option-content add-money">
                        <h3 class="title">
                            ADD MONEY FOR CUSTOMER
                        </h3>
                        <div class="search-square">
                            <input type="search" name="" id="">
                            <button type="submit" class="btn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="result-square row">
                            <div class="result-square-left  col-xs-6">
                                <div class="result-square-left_item flex">
                                    <label for="txtAmount">Amount</label>
                                    <input type="text" id="txtAmount">
                                </div>
                                <div class="result-square-left_item flex">
                                    <label for="txtCurrencyUnit">Currency Unit</label>
                                    <input type="text" id="txtCurrencyUnit">
                                </div>
                                <div class="result-square-left_item flex">
                                    <label for="txtMessage">Message</label>
                                    <input type="text" id="txtMessage">
                                </div>
                                <div class="result-square-left_item">
                                    <button type="submit" class="btn btn-add-money">ADD MONEY</button>
                                </div>

                            </div>
                            <div class="result-square-right  col-xs-6">
                                <div class="card">
                                    <div class="card__content">
                                        <div class="gutter ">

                                            <div class="card-number">
                                                <p>1234 4555 1123 1478</p>
                                            </div>
                                            <div class="card-date flex a-center">
                                                <div class="card-from card-date__item">
                                                    <p>Valid from</p>
                                                    <div class="date">
                                                        20/10/2010
                                                    </div>
                                                </div>
                                                <div class="card-info flex a-center">
                                                    <div class="card-name">
                                                        NGUYEN VAN NHAT
                                                    </div>
                                                    <div class="type">
                                                        <p class="napas">napas</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>
</body>

</html>