<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Nhat/main.css">
    <title>Payyed - Staff</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <div class="staff">
        <header>
            <div class="flex navigation j-between a-center">
                <div class="logo">
                    <i class="fas fa-university"></i>
                    Payyed
                </div>
                <div class="right">
                    <ul class="flex a-center">
                        <li class="noti">
                            <a href="">
                                <i class="far fa-bell"></i>
                                <label class="number-of-noti">1</label>
                            </a>
                        </li>
                        <li>
                            <a href=""><i class="far fa-comment-alt"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-cog"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="row staff-option">
                <div class="col-xs-4 left">
                    <div class="personal-info">
                        <img src="./img/dog.png" alt=" ">
                        <p>Nguyen Van Nhat</p>
                    </div>

                    <div class="staff-dashboard">
                        <a href="">
                            <i class="fas fa-border-all"></i>
                            Dashboard
                        </a>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            WORK SPACE
                        </h4>
                        <ul>
                            <li>
                                <a href="/add-money">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    Add money
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-search"></i>
                                    Search
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-university"></i>
                                    Bank
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            LISTS
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Customers
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Supplier
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="cate">
                        <h4 class="title">
                            Manager
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-user"></i>
                                    Connection
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-user-friends"></i>
                                    My Team
                                </a>

                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-user-friends"></i>
                                    My Clients
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8 right"></div>
            </div>
        </main>
    </div>
</body>

</html>