<%- include ('header',{title:'Home - Transfer Money'}); %>
    <ul>
        <% if(users){%>
        <%users.forEach(item=>{%>
            <%- `<li>hello: ${item.displayName}</li>`%>
        <%})%>
        <%}%>
       
    </ul>
    <%- include ('footer'); %>