<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of Service</title>
  </head>
  <body>
    <div class="container">
      <div class="page_header">
        <h1>
          Terms of Service
        </h1>
      </div>
      <div class="intro">
        <h2>
          <strong>INTRODUCTION</strong>
        </h2>
        <p>
          These Terms of Use constitute a legally binding agreement made between
          you, whether personally or on behalf of an entity (“you”) and
          TemplateLab (“Company”, “we”, “us”, “our”, “TemplateLab), concerning
          your access to and use of the templatelab.com as well as any other
          media form, website or related, or otherwise connected thereto
          (collectively, the “Site”). You agree that by accessing the Site, you
          have read, understood, and agreed to be bound by all of these Terms of
          Use.
        </p>
        <p>
          TemplateLab reserves the right to change or modify these Terms at any
          time and in our sole discretion. By continuing to access or use the
          Sites or order, receive or use Services, you confirm your acceptance
          of the revised Terms and all of the terms incorporated therein by
          reference.
        </p>
        <p>
          Please read the Terms of Use carefully before you start to use the
          Website. By using the Website you accept and agree to be bound and
          abide by these Terms of Use and our Privacy Policy. If you do not want
          to agree to these Terms of Use or the Privacy Policy, you must not
          access or use the Website.
        </p>
        <p>
          The Site is intended for users who are at least 18 years old. Persons
          under the age of 18 are not permitted to use or register for the Site.
        </p>
        <h2>
          <strong>NO LEGAL ADVICE</strong>
        </h2>
        <p>
          No attorney-client relationship or privilege is created by any service
          provided by TemplateLab. The law is different from jurisdiction to
          jurisdiction, and may be subject to interpretation by different
          courts, however, by using this Site, you acknowledge and agree that
          TemplateLab and its affiliates are not providing legal advice or
          acting as your attorney, and you assume full responsibility for any
          consequences and costs associated with your use of this Site and as it
          relates to your legal matters.
        </p>
        <h2>
          SERVICE & ACCOUNTS
        </h2>
        <p>
          Company provides website for form and template creation. Company
          additionally provide provides products and paid services based on
          listed prices. You may be required to register with the Site. You
          agree to keep your password confidential and will be responsible for
          all use of your account and password.
        </p>
        <p>
          You are responsible for maintaining the confidentiality of the
          username and password that you designate during the registration
          process, and you are fully responsible for all activities that occur
          under your username and password. You should use particular caution
          when accessing your account from a public or shared computer so that
          others are not able to view or record your password or other personal
          information.
        </p>
        <p>
          By using the Site, you represent and warrant that: (1) all
          registration information you submit will be true, accurate, current,
          and complete; (2) you will maintain the accuracy of such information
          and promptly update such registration information as necessary; (3)
          you have the legal capacity and you agree to comply with these Terms;
          (4) you are not a minor in the jurisdiction in which you reside; and
          (5) your use of the Site will not violate any applicable law or
          regulation.
        </p>
        <p>
          We reserve the right to remove, reclaim, or change a username you
          select if we determine, in our sole discretion, that such username is
          inappropriate, obscene, or otherwise objectionable.
        </p>
        <p>
          If you provide any information that is untrue, inaccurate, not
          current, or incomplete, we have the right to suspend or terminate your
          account and refuse any and all current or future use of the Site (or
          any portion thereof).
        </p>
        <p>
          You agree that TemplateLab will not be liable for any loss or damage
          arising from your failure to comply with this provision.
        </p>
        <h2>
          <strong>USER CONTENT</strong>
        </h2>
        <p>
          Our site or service may include features and areas which allow users
          to share or create content which includes but is not limited to
          documents, texts, code, or other media (“User Content”). As such, all
          users agree that by using our site they must abide by the following
          rules for posting content.
        </p>
        <ul>
          <li>
            User Content may not contain any pornographic, obscene, lewd, or
            otherwise unlawful material;
          </li>
          <li>
            User Content may not in any way constitute a violation of local,
            international, or state law;
          </li>
          <li>
            User Content may not misrepresent, fraudulently depict, or depict
            claims not of your own;
          </li>
          <li>
            User Content may not represent any promotions, solicitations,
            advertising, or political campaigning;
          </li>
          <li>
            User Content may not contain any corrupted data, virus, or harmful
            or data collecting file;
          </li>
        </ul>
        <p>We may restrict any User content in our sole discretion.</p>
        <h2>
          <strong
            >ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</strong
          >
        </h2>
        <p>
          You hereby agree to the use of electronic signatures, contracts,
          orders, and other records, and you also agree to electronic delivery
          of notices, policies, and records of transactions initiated or
          completed by us or via the site.
        </p>
        <p>
          You consent to receive electronic communications, and you agree that
          all agreements, notices, disclosures, and other communications we
          provide to you electronically, via e-mail and on the Site, satisfy any
          legal requirement that such communication be in writing.
        </p>
        <p>
          You hereby waive any rights or requirements under any statutes,
          regulations, rules, ordinances, or other laws in any jurisdiction
          which require an original signature or delivery or retention of
          non-electronic records, or to payments or the granting of credits by
          any means other than electronic means.
        </p>
        <h2>
          <strong>PARENTAL PERMISSION</strong>
        </h2>
        <p>
          Children under the age of 18 are not permitted to use the Site.
          Individuals under the age of 18 are not permitted to purchase any of
          the Services.
        </p>
        <h2>
          <strong>SITE MANAGEMENT</strong>
        </h2>
        <p>
          We have no obligation to monitor the site for violations of these
          terms. We however reserve the right to take any legal action on anyone
          who breaches these terms at our sole discretion. Further, we reserve
          the right to restrict access to, limit availability of, disable, or
          otherwise manage the content of our website. No provision in these
          terms shall restrict our ability to report users or share data with
          any law enforcement authority.
        </p>
        <h2>
          <strong>
            COPYRIGHT INFRINGEMENTS
          </strong>
        </h2>
        <p>
          We respect the intellectual property rights of others. If you believe
          that any material available on or through the Site infringes upon any
          copyright you own or control, please immediately notify us using the
          contact information below.
        </p>
        <p>
          Please be advised that pursuant to federal law you may be held liable
          for damages if you make material misrepresentations in an Email. Thus,
          if you are not sure that material located on or linked to by the Site
          infringes your copyright, you should consider first contacting an
          attorney.
        </p>
        <h2>
          INTELLECTUAL PROPERTY RIGHTS
        </h2>
        <p>
          The site and program are the intellectual property of the Company.
          This includes all code, data, software, video, audio, design,
          trademark, service mark, graphics, text, and any content (“content”)
          displayed on the company website. This content is protect by copyright
          laws and competition laws of the U.S. and other foreign jurisdictions.
          This content is also provided for personal use only. No content may be
          duplicated, copied, republished, reproduced, sold, exploited, or
          otherwise licensed without our express written consent.
        </p>
        <p>
          By using the site, you are granted a limited license to use or access
          certain content for personal non-commercial use. We reserve all rights
          to all content used in our services.
        </p>
        <h2>
          LICENSE
        </h2>
        <p>
          By posting or sharing anything to any part of the Site or linking your
          account from the Site to any of your social networking accounts, you
          grant, represent and warrant that you have the right to grant, us an
          unrestricted, unlimited, irrevocable, perpetual, non-exclusive,
          transferable, royalty-free, worldwide right, and license to host, use,
          copy, reproduce, disclose, sell, resell, publish, broadcast, publicly
          display, and distribute such content for any purpose, commercial,
          advertising, or otherwise, and to prepare derivative works of, or
          incorporate into other works, such content, and grant and authorize
          sublicenses of the foregoing. We are not responsible for any content
          provided by you to the site. You agree to hold company harmless for
          any content you post. Additionally, you acknowledge that company may
          in its discretion censor, redact, categorize, screen, change or
          otherwise delete any content you provided.
        </p>
        <h2>
          PAYMENT & SERVICES
        </h2>
        <p>
          You may purchase one or more of the services or products offered by
          the Company. Your purchase will only give you access to the particular
          Company product for which you have paid. Although the Company in its
          discretion may allow users to use one or more of its other Services if
          you meet requirements, you will not be able to use the Services
          without registering an account and paying for it specifically.
        </p>
        <ol>
          <li>
            The price and payment procedures are permanently accessible on the
            Websites.
          </li>
          <li>All prices stated include all relevant local taxes.</li>
          <li>
            We reserve the right to change the cost of any of our Services.
          </li>
          <li>
            To the extent permitted by applicable laws and regulations, no
            refunds will be offered (except in exceptional circumstances such as
            major service failures).
          </li>
          <li>
            TemplateLab may use a domestic or an international third-party
            payment service, the latter of which could result in international
            transactions fees billed to your credit card, (collectively, the
            “Payment Service”), to collect payments for all fees. You
            acknowledge and agree that TemplateLab is not liable for the Payment
            Service’s services, its site or any acts or omissions of the Payment
            Service.
          </li>
        </ol>
        <h2>
          <strong>
            BILLING ERRORS
          </strong>
        </h2>
        <p>
          If you are not satisfied or believe there has been an error in
          billing, please contact Customer Support by emailing us at
          support@templatelab.com
        </p>
        <h2>
          <strong>
            TERMINATION & SUSPENSION
          </strong>
        </h2>
        <p>
          These terms of use shall remain in full force and effect while you use
          the site. Without limiting any other provision of these terms of use,
          we reserve the right to, in our sole discretion and without notice or
          liability, deny access to and use of the site (including blocking
          certain IP addresses), to any person for any reason or for no reason,
          including without limitation for breach of any representation,
          warranty, or covenant contained in these terms of use or of any
          applicable law or regulation. We may terminate your use or
          participation in the site or delete your account and any content or
          information that you posted at any time, without warning, in our sole
          discretion.
        </p>
        <p>
          If we terminate or suspend your account for any reason, you are
          prohibited from registering and creating a new account under your
          name, a fake or borrowed name, or the name of any third party, even if
          you may be acting on behalf of the third party. In addition to
          terminating or suspending your account, we reserve the right to take
          appropriate legal action, including without limitation pursuing civil,
          criminal, and injunctive redress.
        </p>
        <h2>
          <strong>
            INTERRUPTIONS
          </strong>
        </h2>
        <p>
          There may be interruptions of your service at times. As such, we do
          not guarantee that the service will be available. This may be caused
          by hardware, software, or other technical errors or delays. We reserve
          the right to make any changes, repairs, updates, or revisions to the
          site or program. You agree that company cannot be held liable for any
          loss or damage which arises from the interruption of the service.
        </p>
        <h2>
          <strong>
            DISPUTE RESOLUTION
          </strong>
        </h2>
        <p>
          <strong>
            PLEASE READ THIS SECTION CAREFULLY, AS IT AFFECTS YOUR RIGHTS.
          </strong>
        </p>
        <p>
          To expedite resolution and control the cost of any dispute,
          controversy, or claim related to these Terms of Use (each a “Dispute”
          and collectively, the “Disputes”) brought by either you or us or a
          third party (individually, a “Party” and collectively, the “Parties”),
          the Parties agree to first attempt to negotiate any Dispute (except
          those Disputes expressly provided below) informally for at least
          thirty (30) days before initiating arbitration. Such informal
          negotiations commence upon written notice from one Party to the other
          Party.
        </p>
        <h2>
          <strong>
            THIRD PARTY CONTENT & ACCOUNTS
          </strong>
        </h2>
        <p>
          The Site may contain links to other websites (“Third Party Content”).
          We are not responsible for any Third Party Websites accessed through
          the Site or any Third Party Content contained in the Third Party
          Websites.
        </p>
        <p>
          If you decide to leave the Site and access the Third Party Websites or
          to use or install any Third Party Content, you do so at your own risk.
          You agree and acknowledge that we do not endorse the products or
          services offered on Third Party Websites, and you shall hold us
          harmless from any harm caused by your purchase of such products or
          services.
        </p>
        <p>
          As part of the functionality of the Site, you may link your account
          with online accounts you have with third-party service providers (each
          such account, a “Third-Party Account”) by either: (1) providing your
          Third-Party Account login information through the Site; or (2)
          allowing us to access your Third-Party Account, as is permitted under
          the applicable terms and conditions that govern your use of each
          Third-Party Account. You represent and warrant that you are entitled
          to disclose your Third-Party Account login information to us and/or
          grant us access to your Third-Party Account, without breach by you of
          any of the terms and conditions that govern your use of the applicable
          Third-Party Account, and without obligating us to pay any fees or
          making us subject to any usage limitations imposed by the third-party
          service provider of the Third-Party Account. By granting us access to
          any Third-Party Accounts, you understand that (1) we may access, make
          available, and store (if applicable) any content that you have
          provided to and stored in your Third-Party Account (the “Social
          Network Content”) so that it is available on and through the Site via
          your account, including without limitation any friend lists and (2) we
          may submit to and receive from your Third-Party Account additional
          information to the extent you are notified when you link your account
          with the Third-Party Account.
        </p>
        <h2>
          <strong>
            BINDING ARBITRATION
          </strong>
        </h2>
        <p>
          If the Parties are unable to resolve a Dispute through informal
          negotiations, the Dispute (except those Disputes expressly excluded
          below) will be finally and exclusively resolved by binding
          arbitration. YOU UNDERSTAND THAT WITHOUT THIS PROVISION, YOU WOULD
          HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL. The arbitration
          shall be commenced and conducted under the Commercial Arbitration
          Rules of the American Arbitration Association (“AAA”) and, where
          appropriate, the AAA’s Supplementary Procedures for Consumer Related
          Disputes (“AAA Consumer Rules”), both of which are available at the
          AAA website www.adr.org. Your arbitration fees and your share of
          arbitrator compensation shall be governed by the AAA Consumer Rules
          and, where appropriate, limited by the AAA Consumer Rules. The
          arbitration may be conducted in person, through the submission of
          documents, by phone, or online. The arbitrator will make a decision in
          writing, but need not provide a statement of reasons unless requested
          by either Party. The arbitrator must follow applicable law, and any
          award may be challenged if the arbitrator fails to do so.
        </p>
        <p>
          In no event shall any Dispute brought by either Party related in any
          way to the Site be commenced more than one (1) years after the cause
          of action arose. If this provision is found to be illegal or
          unenforceable, then neither Party will elect to arbitrate any Dispute
          falling within that portion of this provision found to be illegal or
          unenforceable and such Dispute shall be decided by a court of
          competent jurisdiction within the courts listed for jurisdiction
          above, and the Parties agree to submit to the personal jurisdiction of
          that court.
        </p>
        <h2>
          <strong>
            RESTRICTIONS
          </strong>
        </h2>
        <p>
          The Parties agree that any arbitration shall be limited to the Dispute
          between the Parties individually. To the full extent permitted by law,
          (a) no arbitration shall be joined with any other proceeding; (b)
          there is no right or authority for any Dispute to be arbitrated on a
          class-action basis or to utilize class action procedures; and (c)
          there is no right or authority for any Dispute to be brought in a
          purported representative capacity on behalf of the general public or
          any other persons.
        </p>
        <h2>
          <strong>
            DISCLAIMER OF WARRANTIES
          </strong>
        </h2>
        <p>
          THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE
          THAT YOUR USE OF THE SITE AND OUR SERVICES WILL BE AT YOUR SOLE RISK.
          TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES,
          EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF,
          INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
          NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE
          ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY
          WEBSITES LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR
          RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF
          CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY
          NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE,
          (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY
          AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED
          THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM
          THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY
          BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6)
          ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS
          OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT
          POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO
          NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY
          PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE
          SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR FEATURED IN ANY
          BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY
          WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY
          THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF
          A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU
          SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.
        </p>
        <p>
          While all effort has been made to ensure that templates will be
          legally effective, there may be differences or changes in state laws
          that would mean that one of our templates, especially but not
          exclusively where it is a generic template, will not apply in your
          state of residence. Wherever possible, you should use a state-specific
          rather than a generic document and, in all cases, should make every
          possible effort to obtain legal advice on the effectiveness of the
          document you intend to use. TemplateLab.com, its owners and corporate
          structures purport to limit our liability to the fullest extent
          permitted by federal, state and local law in all situations including
          situations where a user of our templates has used a template, whether
          generic or otherwise, that is later found by a court, arbitral body,
          tribunal or other dispute resolution method or methods to be
          ineffective.
        </p>
        <h2>
          <strong>
            LIMITATIONS OF LIABILITY
          </strong>
        </h2>
        <p>
          BY USING OUR SERVICE, OR ANY PORTION OF OUR WEBSITE, YOU AGREE IN NO
          EVENT OUR EMPLOYEES, DIRECTORS, OR AGENTS BE LIABLE TO YOU OR ANOTHER
          PARTY FOR ANY DAMAGE INCLUDING BY NOT LIMITED TO: LOSS OF REVENUE,
          SPECIAL, PUNITIVE, LOSS OF DATA, DIRECT, CONSEQUENTIAL, INCIDENTAL,
          INDIRECT, EXEMPLARY, OR ANY OTHER DAMAGES ARISING FROM YOUR USE OF OUR
          SERVICES OR WEBSITE.
        </p>
        <h2>
          <strong>
            INDEMNIFICATION
          </strong>
        </h2>
        <p>
          You agree to, indemnify, defend and hold us harmless, affiliates, and
          all of our agents, directors and employees from any damage, claim,
          liability or demand, including expenses and attorney’s fees arising
          out of: (1) your use of services; (2) use of the Site; (3) breach of
          these Terms of Use; or (5) any illegal act. We reserve the right to
          assume exclusive defense and control of all matters which you
          indemnify us, and you agree to defend such claims.
        </p>
        <h2>
          <strong>
            ATTORNEY FEES
          </strong>
        </h2>
        <p>
          Any action or proceeding related to or arising from this Agreement, in
          which company is a party and judgement is entered in against yourself,
          you shall be responsible for TemplateLab’ attorneys’ fees and costs.
        </p>
        <h2>
          <strong>
            MISCELLANEOUS
          </strong>
        </h2>
        <p>
          This policy along with any other terms of use or rules posted by
          Company constitute the entire agreement between yourself and company.
          If we fail to enforce or exercise any term, provision, or right
          herein, it shall not operate as a waiver of such provision.
        </p>
        <p>
          If any term or provision of this policy is found by a tribunal to be
          unenforceable or void, that provision shall not invalidate the entire
          agreement and shall be severable from this policy. Such terms shall
          not affect the enforceability of the remaining agreement.
        </p>
        <p>
          In the event that we assign our rights to another company, we shall
          not be liable for any loss or damage caused during the assigning.
        </p>
        <h2>
          <strong>
            PRIVACY POLICY
          </strong>
        </h2>
        <p>
          We care about data privacy and security. Please review our
          <a href="privacy.ejs">Privacy Policy</a> . By using the Site, you
          agree to be bound by our Privacy Policy, which is incorporated into
          these Terms of Use. Further, we do not knowingly accept, request, or
          solicit information from children or knowingly market to children.
          Therefore, in accordance with the U.S. Children’s Online Privacy
          Protection Act, if we receive actual knowledge that anyone under the
          age of 13 has provided personal information to us without the
          requisite and verifiable parental consent, we will delete that
          information from the Site as quickly as is reasonably practical.
        </p>
        <h2>
          <strong>
            CONTACT US
          </strong>
        </h2>
        <p>
          In order to resolve a complaint regarding the Site or to receive
          further information regarding the use of the Site, please contact us
          at support@payyed.com
        </p>
      </div>
    </div>
  </body>
</html>
