<%- include ('header',{title:'To Do - Todo App'}); %>

<div class="todo wow tada" id="todo">
    <div class="container">
        <div class="todo__content ">
            <form class="row">
                <div class="blank col-md-1"></div>
                <div class="form-groups col-xs-12 col-md-9">
                    <input type="text" name="taskname" placeholder="" id="task" required>
                </div>
                <div class="form-actions col-xs-12 col-md-2 t-center">
                    <button type="submit" class="btn btn-add-task">Add</button>
                </div>
            </form>
            <ul class="task-list">
            </ul>
        </div>
    </div>
</div>
<%- include ('footer'); %>