<%- include ('header',{title:'Payyed - All Transaction'}); %>



<div class="transaction">
    <div class="filter">
        <div class="from">
            <label for="date-from"></label>
            <input type="date" name="" id="date-from">
        </div>
    </div>
</div>


<%- include ('footer'); %>