<div class="transaction-details">
    <div class="transaction-details__content rows">
        <div class="col-sm-4">
            <div class="total">$557.20</div>
            <div class="date">
                15 March 2019
            </div>
        </div>
        <div class="col-sm-8">
            <div class="title">
                Transaction Details
            </div>
            <div class="payment-amount flex j-between a-center">
                <p>Payment Amount</p>
                <p>$562.00</p>
            </div>
            <div class="fee flex j-between a-center">
                <p>Fee</p>
                <p>-$4.80</p>
            </div>
            <div class="total flex j-between a-center">
                <h3>Total Amount</h3>
                <p>$557.20</p>
            </div>
            <div class="from transaction-item">
                <h3>From: </h3>
                <p>Envato Pty Ltd</p>
            </div>
            <div class="to transaction-item">
                <h3>To: </h3>
                <p>Envato Pty Ltd</p>
            </div>
            <div class="to transaction-item">
                <h3>To: </h3>
                <p>Envato Pty Ltd</p>
            </div>
            <div class="transaction-item">
                <h3>Message</h3>
                <p>Hello</p>
            </div>

        </div>
    </div>
</div>