<%- include('./../staff-structure/header')%>
<div class="user">
    <div class="navs-bar">
        <div>
            <a href="/">Home / </a>
            <span>
                User
            </span>
        </div>
    </div>
    <div class="user-content user-item-content">
        <h3 class="title" style="text-align: left;border-bottom: 1px solid #ddd;padding-bottom: 20px;">USER
        </h3>
        <div class="table user-item-edit">
            <div class="table-gutter">
                <div class="table-gutter-item row" style="margin: 0;">
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">User ID: <span class="red">*</span></label>
                            <input type="text" disabled>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Full name: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="table-gutter-item row" style="margin: 0;">
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Phone number: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Email: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="table-gutter-item row" style="margin: 0;">
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Date Of Birth: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Address Number: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="table-gutter-item row" style="margin: 0;">
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Password: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="gt">
                            <label for="">Re-Password: <span class="red">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="table-gutter-item row j-end" style="padding: 0 20px;">
                    <button class="btn btn-user-item" style="background-color: #1999ff;">Save</button>
                    <button class="btn btn-user-item"
                        style="background-color: #868e96;margin-left: 10px;">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('./../staff-structure/footer')%>