<%- include('./../staff-structure/header')%>
<div class="user">
    <div class="navs-bar">
        <div>
            <a href="/">Home / </a>
            <span>
                User
            </span>
        </div>
    </div>
    <div class="user-content user-item-content">
        <h3 class="title" style="text-align: left;border-bottom: 1px solid #ddd;padding-bottom: 20px;">USER
        </h3>
        <div class="table user-item">
            <div class="table-gutter">
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">USER ID</div>
                    <div class=" col-xs-10 " id="userID"></div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">FULL NAME</div>
                    <div class=" col-xs-10 " id="fullName"></div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">DATE OF BIRTH</div>
                    <div class=" col-xs-10" id="dob"></div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2 ">EMAIL</div>
                    <div class=" col-xs-10 " id="email"></div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">ADDRESS</div>
                    <div class=" col-xs-10 " id="address"></div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">PHONE NUMBER</div>
                    <div class=" col-xs-10 " id="phoneNumber"></div>
                </div>

                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">VERIFY</div>
                    <div class=" col-xs-10 flex a-center" id="verify">

                    </div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">BLOCK</div>
                    <div class=" col-xs-10 flex a-center" id="block">

                    </div>
                </div>
                <div class="table-item row  a-center">
                    <div class=" col-xs-2  ">DATE CREATED</div>
                    <div class=" col-xs-10 " id="dateCreated"></div>
                </div>
            </div>

        </div>
        <div class="row j-between user-btm" style="margin: 10px 0;">

        </div>
        <div class="accounts row">
            <div class="accounts__content accounts__content--credit col-xs-12 col-md-6">
                <h3>Credit Accounts</h3>
                <ul class="accounts__content--list row accounts__content--credit--list">

                </ul>
            </div>
            <div class="accounts__content accounts__content--saving col-xs-12 col-md-6">
                <h3>Saving Accounts</h3>
                <ul class="accounts__content--list row accounts__content--saving--list">

                </ul>
            </div>

        </div>
        <div class="acc-history">
            <div class="acc-history__title">
                <h3>HISTORY</h3>
            </div>
            <div class="acc-history__filter flex a-center">
                <div class="acc-history__filter--input flex a-center">
                    <input type="date" value="2020-07-01" id="fromDate">
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <input type="date" value="2020-08-20" id="toDate">
                </div>
                <div class="acc-history__filter--action">
                    <button class="btn-filter">Filter</button>
                </div>

            </div>

            <div class="acc-history__table">
                <div class="acc-history__table--header row a-center ">
                    <div class=" col-xs-2 t-center">DATE</div>
                    <div class=" col-xs-2 t-center">FROM ID</div>
                    <div class=" col-xs-2">TO ID</div>
                    <div class=" col-xs-3">MESSAGE</div>
                    <div class=" col-xs-2 t-center">TYPE</div>
                    <div class=" col-xs-1 t-center">Money</div>
                </div>

                <ul class="acc-history__table--list">

                </ul>
            </div>
            <div class="pagination" style="bottom: 13px;">
                <ul class="flex j-center a-center pag-list">
                </ul>
            </div>
        </div>
    </div>

</div>
<%- include('./../staff-structure/footer')%>
<script>

    const addTxt = (txt, sel) => {
        $(sel).text(txt);
    }
    function getData() {
        $.get("/api/get-client-info" + location.search,
            function (data, textStatus, jqXHR) {
                $('#userID').text('');
                $('#fullName').text('');
                $('#email').text('');
                $('#phoneNumber').text('');
                $('#dob').text('');
                $('#dateCreated').text('');
                $('#address').text('');
                $('#block').empty();
                $('#verify').empty();
                $('.user-btm').empty();

                if (data) {
                    addTxt(data.id, '#userID')
                    addTxt(data.displayName, '#fullName')
                    addTxt(data.email, '#email')
                    addTxt(data.phoneNumber, '#phoneNumber')
                    addTxt(new Date(data.dob).toISOString().slice(0, 10), '#dob')
                    addTxt(data.createdAt, '#dateCreated')
                    addTxt(data.address, '#address')
                    addTxt(data.address, '#address')


                    if (data.isActive == 5) {
                        $(`<span>
                            Blocked
                        </span>
                        <button class="btn btn-user-item" style="background-color: #dc3545;"  onClick="un_block(${data.id})">
                            UnBlock
                        </button>`).appendTo(`#block`);

                        $(` <span>
                            Not Verify
                        </span>`).appendTo(`#verify`);

                    }
                    else if (data.isActive == 0) {
                        $(`<span>
                            Not Block
                        </span>
                        <button class="btn btn-user-item" style="background-color: #dc3545;"  onClick="block(${data.id})">
                            Block
                        </button>`).appendTo(`#block`);

                        $(`<span>
                            Not Verify
                        </span>
                        <button class="btn btn-user-item" style="background-color: #1999ff;"  onClick = "verify(${data.id})">
                            Verify
                        </button>`).appendTo(`#verify`);
                    }
                    else if (data.isActive == 1) {
                        $(`<span>
                            Not Block
                        </span>
                        <button class="btn btn-user-item" style="background-color: #dc3545;"  onClick="block(${data.id})">
                            Block
                        </button>`).appendTo(`#block`);

                        $(`<span>
                             Verified
                        </span>
                        <button class="btn btn-user-item" style="background-color: #1999ff;"  onClick="un_verify(${data.id})">
                            UnVerify
                        </button>`).appendTo(`#verify`);
                    }
                    else {
                        $(`<span>
                            Not Block
                        </span>
                        <button class="btn btn-user-item" style="background-color: #dc3545;"  onClick="block(${data.id})">
                            Block
                        </button>`).appendTo(`#block`);

                        $(`<span>Not Verify</span>
                        <button class="btn btn-user-item" style="background-color: #1999ff;"  onClick="verify(${data.id})">
                            Verify
                        </button>`).appendTo(`#verify`);
                    }


                    $(`<button class="btn btn-user-item" style="background-color: #dc3545;" onclick="delete_id(${data.id})">
                Delete
            </button>
            <a href="/user?id=${data.id}&edit=true">
                <button class="btn btn-user-item" style="background-color: #1999ff;">
                    Edit
                </button>
            </a>`).appendTo('.user-btm');

                }
            },
        );
    }

    function block(id) {
        $.post("/api/block-client", { id: id },
            function (data, textStatus, jqXHR) {
                if (data == 1) {
                    alert('block successfully.');
                    getData();
                }
            },
        );
    }
    function un_block(id) {
        $.post("/api/unblock-client", { id: id },
            function (data, textStatus, jqXHR) {
                if (data == 1) {
                    alert('unblock successfully.');
                    getData();
                }
            },
        );

    }
    function verify(id) {
        $.post("/api/verify-client", { id: id },
            function (data, textStatus, jqXHR) {
                if (data == 1) {
                    alert('verify successfully');
                    getData();
                }
            },
        );

    }
    function un_verify(id) {
        $.post("/api/unverify-client", { id: id },
            function (data, textStatus, jqXHR) {
                if (data == 1) {
                    alert('unverify successfully')
                    getData();
                }
            },
        );

    }
    function delete_id(id) {
        $.post("/api/delete-client", { id: id },
            function (data, textStatus, jqXHR) {
                if (data == 1) {
                    alert('deleted')
                    $(location).attr('href', '/user');
                }
            },
        );

    }


    function getHistory(userID, fromDate, toDate, page) {
        $.post("/api/staff-search", { userID, fromDate, toDate, page },
            function (data, textStatus, jqXHR) {
                $('.pag-list').empty();
                $('.acc-history__table--list').empty();
                if (data) {
                    if (data.list.length > 0) {
                        data.list.map(item => {
                            $(` <li class="acc-history__table--list--list-item row a-center">
                            <div class=" col-xs-2 t-center">${item.date.toString().slice(0, 10)}</div>
                            <div class=" col-xs-2 t-center">${item.from}</div>
                            <div class=" col-xs-2">${item.to}</div>
                            <div class=" col-xs-3">${item.message}</div>
                            <div class=" col-xs-2 t-center">${item.type}</div>
                            <div class="col-xs-1 t-center">${item.amount}</div>
                        </li>`).appendTo('.acc-history__table--list');

                        })
                    }
                    let numpage = Math.floor(data.count / 8) + (data.count % 8 > 0 ? 1 : 0);
                    for (let i = 0; i < numpage; i++) {
                        if (i == page) {
                            $(` <li class="pag-num active" value=${i}>${i + 1}</li>`).appendTo('.pag-list');
                        }
                        else {
                            $(` <li class="pag-num" value=${i}>${i + 1}</li>`).appendTo('.pag-list');
                        }
                    }
                }
            },
        );

        $.post("/api/staff-get-list-account", { userID },
            function (data, textStatus, jqXHR) {
                $('.accounts__content--credit--list').empty();
                $('.accounts__content--saving--list').empty();
                if (data.credits.length > 0) {
                    data.credits.map(item => {
                        $(`<li class="accounts__content--list--list-item col-xs-12 col-md-6">
                        <div class="accounts__content--list--list-item--infor">
                            <div class="stk">
                                <label for="">STK: </label>
                                <label for="">${item.STK}</label>
                            </div>
                            <div class="type">
                                <label for="">Account Type: </label>
                                <label for="">Credit</label>
                            </div>
                            <div class="type">
                                <label for="">Balance: </label>
                                <label for="">$ ${item.balance}</label>
                            </div>
                        </div>
                    </li>`).appendTo('.accounts__content--credit--list');
                    })

                }


                if (data.savings.length > 0) {
                    data.savings.map(item => {
                        $(`<li class="accounts__content--list--list-item col-xs-12 col-md-6">
                        <div class="accounts__content--list--list-item--infor">
                            <div class="stk">
                                <label for="">STK: </label>
                                <label for="">${item.STK}</label>
                            </div>
                            <div class="type">
                                <label for="">Account Type: </label>
                                <label for="">Credit</label>
                            </div>
                            <div class="type">
                                <label for="">Balance: </label>
                                <label for="">$ ${item.balance}</label>
                            </div>
                        </div>
                    </li>`).appendTo('.accounts__content--saving--list');
                    })

                }
            },

        );

    }


    $(function () {

        getData();

        //first get data 
        let userID = location.search.split('=')[1];
        let fromDate = new Date($('#fromDate').val()).toISOString().slice(0, 10).split('-').join('/');
        let toDate = new Date($('#toDate').val()).toISOString().slice(0, 10).split('-').join('/');
        getHistory(userID, fromDate, toDate, 0)


        // get data when filter
        $('.btn-filter').click(function (e) {
            e.preventDefault();
            fromDate = new Date($('#fromDate').val()).toISOString().slice(0, 10).split('-').join('/');
            toDate = new Date($('#toDate').val()).toISOString().slice(0, 10).split('-').join('/');
            getHistory(userID, fromDate, toDate, 0)
        });

        //get data when change page
        $(document).on('click', '.pag-num', function (e) {
            e.preventDefault();

            $('.pag-num').removeClass('active');
            $(this).addClass('active');

            fromDate = new Date($('#fromDate').val()).toISOString().slice(0, 10).split('-').join('/');
            toDate = new Date($('#toDate').val()).toISOString().slice(0, 10).split('-').join('/');
            const page = $(this).attr('value');
            getHistory(userID, fromDate, toDate, page)
        });



    });
</script>