<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css">
    <link rel="stylesheet" href="./css/Nhat/main.css">
</head>

<body>
    <div class="loading" style="z-index: 9999999;">
        <div class="loading-content">
            <span>...Loading</span>

        </div>
    </div>
    <div class="staff " style="overflow-y: scroll;">
        <header>
            <div class="flex navigation j-between a-center">
                <div class="logo flex  a-center">
                    <i class="fas fa-university" style="font-size: 25px;"></i>
                    <a href="/"
                        style="color: #333;font-weight: 600;font-size: 26px;font-style: italic; margin-left: 10px;">Pa<span
                            style="color: #2dbe60;">yy</span>ed</a>
                </div>
                <div class="right">
                    <ul class="flex a-center">
                        <li class="noti">
                            <a href="">
                                <i class="far fa-bell"></i>
                                <label class="number-of-noti">1</label>
                            </a>
                            <ul class="drop-down">

                            </ul>
                        </li>
                        <li>
                            <a href=""><i class="far fa-comment-alt"></i></a>
                        </li>
                        <li>
                            <a href="/logout"><i class="fas fa-power-off"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="row staff-option">
                <div class="col-xs-4 left">
                    <div class="personal-info">
                        Navigation
                    </div>
                    <div class="cate">

                        <ul>
                            <li class="cateDashboard">
                                <a href="">
                                    <i class="fas fa-border-all" data-name="Dashboard"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li class="cateAddMoney">
                                <a href="/add-money">
                                    <i class="fas fa-hand-holding-usd" data-name="Add money"></i>
                                    <p>
                                        Add money
                                    </p>
                                </a>
                            </li>
                            <li class="cateSearch">
                                <a href="/search">
                                    <i class="fas fa-search" data-name="Search"></i>
                                    <p>Search</p>
                                </a>
                            </li>
                            <li class="cateActivity">
                                <a href="/staff-activity">
                                    <i class="fas fa-university" data-name="Activity"></i>
                                    <p>Activity</p>
                                </a>
                            </li>

                            <li class="cateCustomers">
                                <a href="/user">
                                    <i class="far fa-user" data-name="Customers"></i>
                                    <p>Customers</p>
                                </a>
                            </li>
                            <li class="cateSupplier">
                                <a href="/support">
                                    <i class="far fa-user" data-name="Supplier"></i>
                                    <p>Supplier</p>
                                </a>
                            </li>


                            <li class="cateProfile">
                                <a href="">
                                    <i class="far fa-user" data-name="Profile"></i>
                                    <p>Profile</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8 right activity" style="padding: 0;">