
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Payyed - <%-title%></title>
    <link rel="stylesheet" href="../css/Nhat/main.css">
</head>
<body>
    
    <div class="alert">
        <div class="container">
            <div class="msg">
                <%- msg %>
            </div>
        </div>
    </div>
    
</body>
</html>

